{% load filters %}
{% load format_tags %}
{% load staticfiles %}
<a class="help" href="#help-regulator"><img align="right" src="/static/images/help.png" /></a><h5> Regulators for Module {{ bicluster.k }}</h5>
<p>
 There are <b>{{ inf_count }}</b> regulatory influences for <b>Module {{ bicluster.k }}</b> 
</p>
<div class="main">
{% if inf_count %}
<script>
$(document).ready(function() {
    $("#bicluster-regulators-table")
    .tablesorter({widthFixed: true, widgets: ['zebra']})
    {#.tablesorterPager({container: $("#tablepager")})#};
    $('.help').colorbox({inline: true, width: "50%"});
});
</script>

<table id="bicluster-regulators-table" class="tablesorter">
  <caption>Regulator Table ({{ inf_count }})</caption>
  <thead>
    <tr>
      <th>Regulator Name</th>
      <th>Type</th>
    </tr>
  </thead>
  <tbody>
    {% for influence in influences %}
    <tr>
      <td>{{ influence|format_influence }}</td>
      <td>{{ influence.type }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<br />
{% else %}
<div class="main">
	<div class="ui-widget">
    	<div class="ui-state-highlight ui-corner-all" style="padding: 0 .7em;">
    		<p><span class="ui-icon ui-icon-info" style="float:left;margin-right:.3em;"></span>
			<strong> Warning:</strong> No Regulators were found!</p>
		</div>
	</div>
</div>
{% endif %}
<div style="display:none">
	<div id='help-regulator' class="help" style='padding:10px; background:#fff; text-align:left;'>
    <h5>Regulator Help</h5>
		 <p>For each module, single or AND logic connected regulatory influences are listed under the regulators tab. These regulatory influences are identified by Inferelator. Table shows name of the regulator and its type.</p>
		  <p><b>tf:</b> Transcription factor</p>
		  <p><b>ef:</b> Environmental factor</p>
		   <p><b> combiner:</b> Combinatorial influence of a tf or an ef through logic gate. Table is sortable by clicking on the arrows next to column headers.</p> 
    </div>
 </div>
</div>
