<div class="sub-page">
{% load filters %}
<div id="modulelist">
  <table>
    <thead>
    <tr>
      <th>Module</th>
      <th>Residual</th>
      <th>Expression Profile</th>
      <th>Motif 1</th>
      <th>Motif 2</th>
      <th>Genes</th>
      <th>Functions</th>
    </tr>
    {% for bicl in biclusters %}
    <tr>
      <td>{{bicl|bicluster_link}}</td>
      <td>{{bicl.residual}}</td>
      <td><div id="chart-{{bicl.id}}"></div></td>
      <td>{{bicl|motif1consensus}}</td>
      <td>{{bicl|motif2consensus}}</td>
      <td>{{bicl.genes.count}}</td>
      <td>{{bicl|biclusterfuncs}}</td>
    </tr>
    {% endfor %}
  </table>
  <script>
    {% for bicl in biclusters %}
    $.ajax({
      url: '/bicluster_hcseries/{{bicl.id}}'
    }).done(function(data) {
        $('#chart-{{bicl.id}}').highcharts({
          chart: {
            type: 'line', width: 200, height: 100
          },
          plotOptions: { line: { marker: {enabled: false} } },
          legend: { enabled: false },
          title: { text: null },
          yAxis: { labels: { enabled: false }, title: { enabled: false }},
          xAxis: { labels: { enabled: false }, title: { enabled: false}},
          series: data
        });
      });
    {% endfor %}
  </script>
</div>
</div>