{% load static %}{% get_static_prefix as STATIC_PREFIX %}
  <script>
    $(document).ready(function() {
      $("#tabs").tabs();
		  $("#kegg-accordion" ).accordion({
        collapsible: true,
        active: 0,
        heightStyle: "content"
      });
		  $("#go-accordion" ).accordion({
		    collapsible: true,
				heightStyle: "content"
      });
		  $("#tigr-accordion" ).accordion({
		    collapsible: true,
		    heightStyle: "content"
		  });
		  $( "#cog-accordion" ).accordion({
		    collapsible: true,
		    heightStyle: "content"
		  });

      $("#kegg-functions-table")
      .tablesorter({widthFixed: true, widgets: ['zebra']})
      {#.tablesorterPager({container: $("#tablepager")})#};

      $("#cog-functions-table")
      .tablesorter({widthFixed: true, widgets: ['zebra']})
      {#.tablesorterPager({container: $("#tablepager")})#};

      $("#go-functions-table")
      .tablesorter({widthFixed: true, widgets: ['zebra']})
      {#.tablesorterPager({container: $("#tablepager")})#};

      $("#tigr-functions-table")
      .tablesorter({widthFixed: true, widgets: ['zebra']})
      {#.tablesorterPager({container: $("#tablepager")})#};
    });
  </script>
  <div class="subpage">
  <a class="help" href="#help-functions"><img align="right" src="/static/images/help.png" /></a>
	<h5> Functional Enrichment</h5><p>
	    <b>Regulon {{ bicluster.k }}</b> is enriched for following functions.
  		</p>
  <!-- KEGG Table -->
  {% if kegg_functions %}
 <div id="tabs-1">
 <div id="kegg-accordion">
 <h3>KEGG Enrichment Table</h3>
  <table id="kegg-functions-table" class="tablesorter">
    <thead>
      <tr>
        <th>Function Name</th>
        <th>Function Type</th>
        <th>Unadjusted pvalue</th>
        <th>Benjamini Hochberg pvalue</th>
        <th>Genes with function</th>
        <th>Method</th>
      </tr>
    </thead>
    <tbody>
      {% for s in kegg_functions %}
      <tr>
        <td><a href="/function/{{ s.function.id }}">{{ s.function.name }}</a></td>
        <td>{{ s.function.namespace }}</td>
        <td>{{ s.p }}</td>
        <td>{{ s.p_bh }}</td>
        <td>{{ s.gene_count }}/{{ gene_count }}</td>
        <td>{{ s.method }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div> {# kegg-accordion #}
</div><br>
{% endif %}{# kegg #}
{% if go_functions %}
<div id="tabs-2">
<div id="go-accordion">
<h3>GO Enrichment Table</h3>
  <table id="go-functions-table" class="tablesorter">
    <thead>
      <tr>
        <th>Function Name</th>
        <th>Function Type</th>
        <th>Unadjusted pvalue</th>
        <th>Benjamini& Hochberg pvalue</th>
        <th>Genes with function</th>
        <th>Method</th>
      </tr>
    </thead>
    <tbody>
      {% for s in go_functions %}
      <tr>
        <td><a href="/function/{{ s.function.id }}">{{ s.function.name }}</a></td>
        <td>{{ s.function.namespace }}</td>
        <td>{{ s.p }}</td>
        <td>{{ s.p_bh }}</td>
        <td>{{ s.gene_count }}/{{ gene_count }}</td>
        <td>{{ s.method }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div> {# go-accordion #}
</div><br>
{% endif %}{# go #}
{% if tigr_functions %}
<div id="tabs-3">
<div id="tigr-accordion">
 <h3>TIGRFam Enrichment Table</h3>
  <table id="tigr-functions-table" class="tablesorter">
    <thead>
      <tr>
        <th>Function Name</th>
        <th>Function Type</th>
        <th>Unadjusted pvalue</th>
        <th>Benjamini& Hochberg pvalue</th>
        <th>Genes with function</th>
        <th>Method</th>
      </tr>
    </thead>
    <tbody>
      {% for s in tigr_functions %}
      <tr>
        <td><a href="/function/{{ s.function.id }}">{{ s.function.name }}</a></td>
        <td>{{ s.function.namespace }}</td>
        <td>{{ s.p }}</td>
        <td>{{ s.p_bh }}</td>
        <td>{{ s.gene_count }}/{{ gene_count }}</td>
        <td>{{ s.method }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div> {# tigr-accordion #}
</div><br>{% endif %}{# tigr #}
{% if cog_functions %}
<div id="tabs-4">
<div id="cog-accordion">
<h3>COG Enrichment Table </h3>
  <table id="cog-functions-table" class="tablesorter">
    <thead>
      <tr>
        <th>Function Name</th>
        <th>Function Type</th>
        <th>Unadjusted pvalue</th>
        <th>Benjamini& Hochberg pvalue</th>
        <th>Genes with function</th>
        <th>Method</th>
      </tr>
    </thead>
    <tbody>
      {% for s in cog_functions %}
      <tr>
        <td><a href="/function/{{s.function.id}}">{{ s.function.name }}</a></td>
        <td>{{ s.function.namespace }}</td>
        <td>{{ s.p }}</td>
        <td>{{ s.p_bh }}</td>
        <td>{{ s.gene_count }}/{{ gene_count }}</td>
        <td>{{ s.method }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  </div> {# cog-accordion #}
</div>{% endif %}{# cog #}
<div style="display:none">
	<div id='help-functions' class="help" style='padding:10px; background:#fff; text-align:left;'>
    <h5>Functions Help</h5>
    	<p>Biological networks contain sets of regulatory units called functional modules that together play a role in regulation of specific functional processes. Connections between different modules in the network can help identify regulatory relationships such as hierarchy and epistasis. In addition, associating functions with modules enables putative assignment of functions to hypothetical genes.  It is therefore essential to identify functional enrichment of modules within the regulatory network.</p>
    	<p> Functional annotations from single sources are often either not available or not complete. Therefore, we integrated KEGG pathway, Gene Ontology, TIGRFam and COG information as references for functional enrichment analysis.</p>
    	<p> We use hypergeometric p-values to identify significant overlaps between co-regulated module members and genes assigned to a particular functional annotation category. P-values are corrected for multiple comparisons by using Benjamini-Hochberg correction and filtered for p-values ≤ 0.05.</p>
    	<p>Network Portal presents functional ontologies from KEGG, GO, TIGRFAM, and COG as separate tables that include function name, type, corrected and uncorrected hypergeometric p-values, and the number of genes assigned to this category out of total number of genes in the module.</p> 
	</div>
 </div>
</div>
