{% load static %}{% get_static_prefix as STATIC_PREFIX %}
  <script>
    $(document).ready(function() {
      $("#tabs").tabs();
		  $("#kegg-accordion" ).accordion({
        collapsible: true,
        active: 0,
        heightStyle: "content"
      });
		  $("#go-accordion" ).accordion({
		    collapsible: true,
				heightStyle: "content"
      });
		  $("#tigr-accordion" ).accordion({
		    collapsible: true,
		    heightStyle: "content"
		  });
		  $( "#cog-accordion" ).accordion({
		    collapsible: true,
		    heightStyle: "content"
		  });

      $("#kegg-functions-table")
      .tablesorter({widthFixed: true, widgets: ['zebra']})
      {#.tablesorterPager({container: $("#tablepager")})#};

      $("#cog-functions-table")
      .tablesorter({widthFixed: true, widgets: ['zebra']})
      {#.tablesorterPager({container: $("#tablepager")})#};

      $("#go-functions-table")
      .tablesorter({widthFixed: true, widgets: ['zebra']})
      {#.tablesorterPager({container: $("#tablepager")})#};

      $("#tigr-functions-table")
      .tablesorter({widthFixed: true, widgets: ['zebra']})
      {#.tablesorterPager({container: $("#tablepager")})#};
    });
  </script>
  <div class="subpage">
	<h5> Functional Enrichment</h5><p>
	    <b>Regulon {{ bicluster.id }}</b> is enriched for following functions.
  		</p>
<!--		<div id="tabs">
			<ul>
				<li><a href="#tabs-1">KEGG</a></li>
				<li><a href="#tabs-2">GO</a></li>
				<li><a href="#tabs-3">TIGR</a></li>
				<li><a href="#tabs-4">COG</a></li>
			</ul>

<!--  <p class="table-top"><a class="link-desc">Jump to</a> | <a class="table-link" href="#kegg"> KEGG </a> | <a class="table-link" href="#go"> GO </a> | <a class="table-link" href="#tigr"> TIGRFam </a> | <a class="table-link" href="#cog"> COG </a></p> --> 
  <!-- KEGG Table -->
 <div id="tabs-1">
 <div id="kegg-accordion">
 <h3>KEGG Enrichment Table</h3>
  <table id="kegg-functions-table" class="tablesorter">
   <!-- <caption>KEGG Enrichment Table <span class="search_help">(Click on a column name to sort)</span></caption> -->
    <thead>
      <tr>
        <th>Function Name</th>
        <th>Function Type</th>
        <th>Unadjusted pvalue</th>
        <th>Benjamini Hochberg pvalue</th>
        <th>Genes with function</th>
        <th>Method</th>
      </tr>
    </thead>
    <tbody>
      {% for s in bicluster_functions %}{% if s.function.type == "kegg" %}{% if s.p_bh < 0.05 %}{% if s.gene_count > 2 %}
      <tr>
        <td><a href="/function/{{ s.function.id }}">{{ s.function.name }}</a></td>
        <td>{{ s.function.namespace }}</td>
        <td>{{ s.p }}</td>
        <td>{{ s.p_bh }}</td>
        <td>{{ s.gene_count }}/{{ gene_count }}</td>
        <td>{{ s.method }}</td>
      </tr>
      {% endif %}{% endif %}{% endif %}{% endfor %}
    </tbody>
  </table>
</div> {# kegg-accordion #}
</div> {# kegg #}<br>
<div id="tabs-2">
<div id="go-accordion">
<h3>GO Enrichment Table</h3>
  <table id="go-functions-table" class="tablesorter">
 <!--    <caption>GO Enrichment Table <span class="search_help">(Click on a column name to sort)</span></caption> -->
    <thead>
      <tr>
        <th>Function Name</th>
        <th>Function Type</th>
        <th>Unadjusted pvalue</th>
        <th>Benjamini& Hochberg pvalue</th>
        <th>Genes with function</th>
        <th>Method</th>
      </tr>
    </thead>
    <tbody>
      {% for s in bicluster_functions %}{% if s.function.type == "go" %}{% if s.p_bh < 0.05 %}{% if s.gene_count > 2 %}
      <tr>
        <td><a href="/function/{{ s.function.id }}">{{ s.function.name }}</a></td>
        <td>{{ s.function.namespace }}</td>
        <td>{{ s.p }}</td>
        <td>{{ s.p_bh }}</td>
        <td>{{ s.gene_count }}/{{ gene_count }}</td>
        <td>{{ s.method }}</td>
        </tr>{% endif %}{% endif %}{% endif %}{% endfor %}
    </tbody>
  </table>
</div> {# go-accordion #}
</div> {# go #}<br>
<div id="tabs-3">
<div id="tigr-accordion">
 <h3>TIGRFam Enrichment Table</h3>
  <table id="tigr-functions-table" class="tablesorter">
    <!-- <caption>TIGRFam Enrichment Table <span class="search_help">(Click on a column name to sort)</span></caption> -->
    <thead>
      <tr>
        <th>Function Name</th>
        <th>Function Type</th>
        <th>Unadjusted pvalue</th>
        <th>Benjamini& Hochberg pvalue</th>
        <th>Genes with function</th>
        <th>Method</th>
      </tr>
    </thead>
    <tbody>
      {% for s in bicluster_functions %}{% if s.function.type == "tigr" %}{% if s.p_bh < 0.05 %}{% if s.gene_count > 2 %}
      <tr>
        <td><a href="/function/{{ s.function.id }}">{{ s.function.name }}</a></td>
        <td>{{ s.function.namespace }}</td>
        <td>{{ s.p }}</td>
        <td>{{ s.p_bh }}</td>
        <td>{{ s.gene_count }}/{{ gene_count }}</td>
        <td>{{ s.method }}</td>
        </tr>{% endif %}{% endif %}{% endif %}{% endfor %}
    </tbody>
  </table>
</div> {# tigr-accordion #}
</div> {# tigr #}<br>
<div id="tabs-4">
<div id="cog-accordion">
<h3>COG Enrichment Table </h3>
  <table id="cog-functions-table" class="tablesorter">
    <!-- <caption>COG Enrichment Table <span class="search_help">(Click on a column name to sort)</span></caption> -->
    <thead>
      <tr>
        <th>Function Name</th>
        <th>Function Type</th>
        <th>Unadjusted pvalue</th>
        <th>Benjamini& Hochberg pvalue</th>
        <th>Genes with function</th>
        <th>Method</th>
      </tr>
    </thead>
    <tbody>
      {% for s in bicluster_functions %}{% if s.function.type == "cog" %}{% if s.p_bh < 0.05 %}{% if s.gene_count > 2 %}
      <tr>
        <td><a href="/function/{{s.function.id}}">{{ s.function.name }}</a></td>
        <td>{{ s.function.namespace }}</td>
        <td>{{ s.p }}</td>
        <td>{{ s.p_bh }}</td>
        <td>{{ s.gene_count }}/{{ gene_count }}</td>
        <td>{{ s.method }}</td>
        </tr>{% endif %}{% endif %}{% endif %}{% endfor %}
    </tbody>
  </table>
  </div> {# cog-accordion #}
</div> {# cog #}
</div>
<!-- </div> -->
