{% load filters %}
<h5> Regulators for Module {{ bicluster.k }}</h5>
<p>
 There are <b>{{ inf_count }}</b> regulatory influences for <b>Module {{ bicluster.k }}</b> 
</p>
<div class="main">
{% if inf_count %}
<script>
$(document).ready(function() {
    $("#bicluster-regulators-table")
    .tablesorter({widthFixed: true, widgets: ['zebra']})
    {#.tablesorterPager({container: $("#tablepager")})#};
});
</script>

<table id="bicluster-regulators-table" class="tablesorter">
  <caption>Regulator Table ({{ inf_count }})</caption>
  <thead>
    <tr>
      <th>Regulator Name</th>
      <th>Type</th>
    </tr>
  </thead>
  <tbody>
    {% for influence in influences %}
    <tr>
      <td>{{ influence|format_influence }}</td>
      <td>{{ influence.type }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<br />
{% else %}
<div class="main">
	<div class="ui-widget">
    	<div class="ui-state-highlight ui-corner-all" style="padding: 0 .7em;">
    		<p><span class="ui-icon ui-icon-info" style="float:left;margin-right:.3em;"></span>
			<strong> Warning:</strong> No Regulators were found!</p>
		</div>
	</div>
</div>
{% endif %}

</div>
