<script>
$(document).ready(function() { 
    $("#regulon-members-table") 
    .tablesorter({widthFixed: true, widgets: ['zebra']}) 
    {#.tablesorterPager({container: $("#tablepager")})#}; 
});
</script>
<h3> Regulon neighborhood information for {{ gene }} </h3>
<p>
<div class="main">
{% if neighbor_genes|length > 0 %}
{% load filters %}
<b>{{ gene }}</b> has total of <b>{{ neighbor_genes|length }}</b> gene neighbors in regulons
<b>{{ gene.bicluster_set.all|bicluster_links }}</b>

<div class="gaggle-data hidden">
 <p>name=<span class="gaggle-name">Regulon neighbor genes</span><br />
    species=<span class="gaggle-species">{{species.name}}</span><br />
    (optional)size=<span class="gaggle-size">{{neighbor_genes|length}}</span><br />
    CSS selector=<span class="gaggle-namelist-tag">gaggle-gene-names</span></p>
</div>

<table id="regulon-members-table" class="tablesorter">
  <caption> Gene neighbors ({{ neighbor_genes|length }})</caption>
  <thead>
    <tr>
      <th>Gene</th>
      <th>Common Name</th>
      <th>Description</th>
      <th>Regulon membership</th>
    </tr>
  </thead>
  <tbody>
  {% for neighbor_gene in neighbor_genes %}
    <tr>
      <td>{{ neighbor_gene|gene_gaggle_link }}</td>
      <td>{{ neighbor_gene.common_name|default_if_none:"" }}</td>
      <td>{{ neighbor_gene.description }}</td>
      <td>{{ neighbor_gene.bicluster_set.all|bicluster_links }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
	{% else %}
	          <div class="sub-page">
				<div class="ui-widget">
    				<div class="ui-state-highlight ui-corner-all" style="padding: 0 .7em;">
    				<p><span class="ui-icon ui-icon-info" style="float:left; margin-right:.7em;"></span>
					<strong> Warning:</strong> No regulon neighbors were found for {{ gene }}!</p>
					</div>
				</div>
			</div>
	{% endif %}
</div>
