{% load staticfiles %}
<a class="help" href="#network"><img align="right" src="/static/images/help.png" /></a><img alt="Gene" src="{% static "images/network_gene.png" %}" style="background:none;border:0px;position:relative;bottom:-10px;">Module member <img alt="Regulator" src="{% static "images/network_regulator.png" %}" style="background:none;border:0px;position:relative; bottom:-10px;">Regulator  <img alt="Motif" src="{% static "images/network_motif.png" %}" style="background:none;border:0px;position:relative; bottom:-10px;">Motif <p>

<div id="cytoscapeweb">
  {% if member_biclusters %}
  Cytoscape Web
  {% else %}
  <p>{{ gene }} is not assigned to any modules</p>
  {% endif %}
</div>
<div id="pop_up"></div>
