{% extends "base2.html" %}{% load static %}{% get_static_prefix as STATIC_PREFIX %}
{% load staticfiles %}
{% load filters %}
{% block title %}Network Portal - Gene {{ gene.name }}{% endblock %}
{% block cssreset %}
<link rel="stylesheet" type="text/css" href="http://www.ncbi.nlm.nih.gov/core/extjs/ext-3.4.0/resources/css/ext-all.css" />
<link rel="stylesheet" type="text/css" href="http://www.ncbi.nlm.nih.gov/core/extjs/ext-3.4.0/resources/css/xtheme-gray.css" id="theme" />
<link rel="stylesheet" type="text/css" href="http://www.ncbi.nlm.nih.gov/coreweb/styles/ncbi_templates.css" />
<!-- <link rel="stylesheet" type="text/css" href="http://www.ncbi.nlm.nih.gov/projects/sviewer/css/style.css" /> -->
<link rel="stylesheet" href="http://code.jquery.com/ui/1.9.2/themes/redmond/jquery-ui.css" />
{% endblock %}
{% block cssspecial %}<link href="http://cdn.wijmo.com/jquery.wijmo-open.1.5.0.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="{{STATIC_PREFIX}}stylesheets/colorbox.css" />
<link href="{% static "javascripts/jquery.qtip.min.css" %}" rel="stylesheet" type="text/css" />{% endblock %}
{% block jsspecial %}<script type="text/javascript" src="{% static "cytoscapeweb/js/AC_OETags.min.js" %}"></script>
    <script type="text/javascript" src="{% static "cytoscapeweb/js/cytoscapeweb.min.js" %}"></script>
    <script type="text/javascript" src="{% static "javascripts/wwu_logo/isblogo.js" %}"></script>
    <script type="text/javascript" src="{% static "javascripts/network_helpers.js" %}"></script>
    <script type="text/javascript" src="{% static "javascripts/jquery.qtip.min.js" %}"></script>
    <script type="text/javascript" src="http://cdn.wijmo.com/jquery.wijmo-open.1.5.0.min.js"></script>
    <script type="text/javascript" src="{% static "javascripts/protovis.min.js" %}"></script>
    <script type="text/javascript" src="{% static "javascripts/visquick-min/vq.min.js" %}"></script>
    <script type="text/javascript" src="{% static "javascripts/visquick-min/vq.circvis.min.js" %}"></script>
    <script type="text/javascript" src="{% static "javascripts/visquick_helpers.js" %}"></script>
    <script type='text/javascript' src='{{STATIC_PREFIX}}javascripts/jquery.colorbox.js'></script>
<!--    <script type="text/javascript" src="http://www.ncbi.nlm.nih.gov/core/extjs/ext-3.4.0/adapter/ext/ext-base.js"></script>
    <script type="text/javascript" src="http://www.ncbi.nlm.nih.gov/core/extjs/ext-3.4.0/ext-all.js"></script>
    <script type="text/javascript">window.sv_base_url = "/sviewer/"</script>-->
<!-- These are required for loading NCBI sequence viewer in gene page -->
<!--<script type="text/javascript" src="http://www.ncbi.nlm.nih.gov/projects/sviewer/js/main.js"/>-->
    {% endblock %}

{% block content %}
<h5><span class="search_help"> Organism : <a href="/{{ gene.species.short_name }}">{{ gene.species.name }}</a>
                             | Module List : {% for network in species.network_set.all %}
    				                        <a href="{{network|network_url}}" title="Explore Network"><img align="center" src="{{ STATIC_PREFIX }}images/network.gif"/></a></a>
  					{% endfor %}
   </span>
</h5>
<div id="bicluster-top">
 <div class="sub-page">
   <div id="tabs" class="sub-page">
     <ul>
	     <li><a class="name" href="#tab-main">{{ gene.name }}</a></li>
	     <li><a class="network" href="#tab-network">Network</a></li>
	     <li><a class="regulator" href="#tab-regulator">Regulation</a></li>
	     <li><a class="motif" href="#tab-motif">Motifs</a></li>
	     <li><a class="function" href="#tab-function">Functions</a></li>
	     <li><a class="genes" href="#tab-gene">Module Members</a></li>
	     {# <li><a class="cart" href="#tab-add-cart">Add to Cart</a></li> #}
	     <li><a class="gene-help" href="#tab-help">Help</a></li>
	     <li><a class="social" href="#tab-social">Social</a></li>
     </ul>
     <div id="tab-main">
		   <div class="main">
         <script type="text/javascript">
           var django_pssms = {{bicluster_pssms}};
           $(document).ready(function() {
             var loaded = [false, false, false, false, false, false, false, false];
             $('#tabs').tabs({
               // load network and motif tabs on demand
               activate: function (event, ui) {
                 var index = $('#tabs').tabs("option", "active");
                 if (!loaded[index]) {
                   switch (index) {
                     case 1:
                       var vis = nwhelpers.initNetworkTab({{ gene.bicluster_set.count }}, "{{ gene.name }}",
                          "{% static "cytoscapeweb/swf/CytoscapeWeb" %}",
                          "{% static "cytoscapeweb/swf/playerProductInstall" %}",
                          nwhelpers.load_popup);
                        break;
                      case 3:
                        setTimeout(function() {
                          nwhelpers.initCanvas(django_pssms);
                        }, 500);
                      default:
                        break;
                    }
                    loaded[index] = true;
                  }
                }
              });
            {% if view == "regulation" %}
              $('#tabs').tabs("option", "active", 2);
            {% endif %}
              var circle_vis = new vq.CircVis();
              $.ajax({
                url: '/json/circvis/?species=1&gene={{ gene.name }}',
                  success: function(json) {
                    var cvdata = vqhelpers.makeCircVisData('circvis', json.chromosomes,
                      json.genes, json.network);
                      circle_vis.draw(cvdata);
                    },
                    error: function() {
                      console.debug('could not read data');
                    }
                  });              
                nwhelpers.initCanvas2(django_pssms, 'previewcanvas_',
                                      {{preview_motifs}});
           
                $('[id^=previewcanvas]').click(function() {
                  $('#tabs').tabs("option", "active", 3);
                });
                $('.help').colorbox({inline: true, width: "50%"});
              });
        </script>
	       <div class="sub-page">
	       <a class="help" href="#gene-info"><img align="right" src="/static/images/help.png" /></a> 
	         <h5>{{ gene.display_name }}</h5>
	         <p><span id="gene_description">{{ gene.description }}</span></p>
           <div id="circvis">CircVis</div>
           <h5>Functional Annotations ({{ gene.functions.count }})</h5>
	         {% if gene.functions.count %}
	         <table id="gene-function-table">
	           <thead>
	             <tr>
		             <th>Function</th>
		             <th>System</th>
	             </tr>
	           </thead>
	           <tbody>
	             {% for function in gene.functions.all %}
	             <tr>
		             <td><a href="/function/{{ function.id }}">{{ function.name }}</a></td>
		             <td>{{ function.type }}/ {{ function.namespace}}</td>
	               {% endfor %}
	             </tr>
	           </tbody>
	         </table>
	  
	  {% else %}
	  <br>
	 <div class="sub-page">
		<div class="ui-widget">
    		<div class="ui-state-highlight ui-corner-all" style="padding: 0 .7em;">
    			<p><span class="ui-icon ui-icon-info" style="float:left; margin-right:.7em;"></span>
					<strong> Warning:</strong> No Functional annotations were found!</p>
			</div>
		</div>
	</div>
	  {% endif %}

<!--	    
          <h3>Genomic Neighborhood</h3>
	  <p>
	    <div style="padding:10px;clear:both;">
	{% if gene.species.short_name == "dvu" %}
		<div id="SeqViewer0" class="SeqViewerApp" style="clear:both;"> <a href="?embedded=compact&amp;noslider=true&amp;noviewheader=true&amp;id=NC_002937&amp;v={{ gene.start }}:{{ gene.end }}&strand=true&amp"></a> 
	      {% endif %}
	       {% if gene.species.short_name == "mmp" %}
	      <div id="SeqViewer0" class="SeqViewerApp" style="clear:both;"> <a href="?embedded=full&amp;noslider=1&amp;id=NC_005791&amp;v={{ gene.start }}:{{ gene.end }}&strand=true&amp"></a> 
	      {% endif %}
	       {% if gene.species.short_name == "hal" %}
	      <div id="SeqViewer0" class="SeqViewerApp" style="clear:both;"> <a href="?embedded=full&amp;noslider=1&amp;id=NC_002607&amp;v={{ gene.start }}:{{ gene.end }}&strand=true&amp"></a> 
	      {% endif %}
	    </div>
	    </div>
	  </p>
	  Not yet implemented in this version of the portal!-->
	</div>{# main #}
	</div>
        <div id="sidebar">
          <h5>Gene Info</h5>
          
            <strong> Organism:</strong><br> <a href="/{{ gene.species.short_name }}">{{ gene.species.name }}</a><br/>
            <strong> Locus tag:</strong><br> {{ gene.name }} <br/>
            <strong> Aliases:</strong> <br><a href="http://www.ncbi.nlm.nih.gov/sites/entrez?db=gene&term={{ gene.geneid }}">{{ gene.geneid }} (NCBI) </a>, <a href="http://microbesonline.org/cgi-bin/keywordSearch.cgi?searchType=customQuery&customQuery={{ gene.name }}">{{ gene.name }} (MicrobesOnline) </a><br/>
            <strong> Gene Name:</strong><br> <i> {% if gene.common_name %} {{ gene.common_name }} {% else %} N/A {% endif %}</i><br/>


          <h5>Regulation</h5>
          <table>
            <tr>
              <th class="help">Modules</th>
              <th>Regulators</th>
              <th>Conditions</th>
            </tr>
            {% if member_biclusters %}
            {% for bicluster in member_biclusters %}
            <tr>
              <td>{{bicluster|bicluster_link}}</td>
              <td><a href="?view=regulation">{{ bicluster.influences.count }}</a></td>
              <td>{{ bicluster.conditions.count }}</td>
            </tr>
            {% endfor %}
            {% else %}
            <div class="sub-page">
				<div class="ui-widget">
    				<div class="ui-state-highlight ui-corner-all" style="padding: 0 .7em;">
    				<p><span class="ui-icon ui-icon-info" style="float:left; margin-right:.7em;"></span>
					<strong> Warning:</strong> Not assigned to any Modules!</p>
					</div>
				</div>
			</div>

            {% endif %}
          </table>
          <h5>Motifs</h5><span class="search_help">Motifs for modules are shown</span>
	  {% if bicluster_pssms %}

          <table id="gene-motif-table" class="tablesorter">
            {% for motif_id in preview_motifs %}
            <tr>
	      <td>
                <span id="previewcanvas_{{motif_id}}"></span>
	            </td>
	          </tr>
            {% endfor %}
          </table>
	  <!-- {% else %}-->
             <div class="sub-page">
				<div class="ui-widget">
    				<div class="ui-state-highlight ui-corner-all" style="padding: 0 .7em;">
    				<p><span class="ui-icon ui-icon-info" style="float:left; margin-right:.7em;"></span>
					<strong> Warning:</strong> No motif information has been found!</p>
					</div>
				</div>
			</div>
	   <!--{% endif %}-->

	</div>{# #sidebar #}
      </div>
      <div id="tab-network" class="sub-page">
	{% include 'gene_network_snippet.html' %}
      </div>
      <div id="tab-regulator" class="sub-page">
        {% include 'gene_regulation_snippet.html' %}
      </div>
      <div id="tab-motif" class="sub-page">
	{% include 'bicl_motif_snippet.html' %}
      </div>
      <div id="tab-function" class="sub-page">
	{% include 'gene_function_snippet.html' %}
      </div>
      <div id="tab-gene" class="sub-page">
	{% include 'gene_member_snippet.html' %}
      </div>
      <!--
          <div id="tab-add-cart">
	  add cart tab <br />
	  ...TO BE DONE...
          </div>
      -->
      <div id="tab-help" class="sub-page">
	{% include 'gene_help_snippet.html' %}
      </div>
      <div id="tab-social" class="main">
      <a class="help" href="#social"><img align="right" src="/static/images/help.png" /></a>
      <h5>Comments for {{ gene.name }} </h5>
      Please add your comments for this gene by using the form below. Your comments will be publicly available.</br>
      <p></br>
      <div id="disqus_thread" class="sub-page"></div> <!-- Commenting from Disqus-->
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'thenetworkportal'; // required: replace example with your forum shortname

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
    <!-- Commenting from Disqus-->
	</p>
      </div>
    </div>{# top-tabs #}
   </div>{# sub-page #}
   <div style="display:none">
	<div id='gene-info' class="help" style='padding:10px; background:#fff; text-align:left;'>
    <h5>Gene Help</h5>
    <h2>Watch the screencast</h2></br>
    <iframe width="560" height="315" src="//www.youtube.com/embed/JO-9-vcnGiQ?rel=0" frameborder="0" allowfullscreen></iframe>
    <h2>Overview</h2>
    <p>Gene landing pages present genomic, functional, and regulatory information for individual genes. A circular visualization displays connections between the selected gene and genes in the same modules, with as edges drawn between the respective coordinates of the whole genome.</p>
    <p> The gene page also lists functional ontology assignments, module membership, and motifs associated with these modules. Genes in the network inherit regulatory influences from the modules to which they belong. Therefore, the regulatory information for each gene is a collection of all regulatory influences on these modules. These are listed as a table that includes influence name, type, and target module. If the gene is a transcription factor, its target modules are also displayed in a table that provides residual values and number of genes.</p>	
    <h2 id="circvis">CircVis</h2>
Our circular module explorer is adapted from <a href="http://code.google.com/p/visquick/">visquick</a> originally developed by Dick Kreisberg of <a href="http://shmulevich.systemsbiology.net/">Ilya Shmulevich lab</a> at ISB for <a href="http://cancergenome.nih.gov/">The Cancer Genome Atlas</a>. We use simplified version of visquick to display distribution of module members and their interactions across the genome. This view provides summary of regulation information for a gene. The main components are;
<img src="{% static "images/help_images/circvis-help.png" %}" align="right"><br>
  <ul>
    <li> 1. All genomic elements for the organism are represented as a circle and each element is separated by black tick marks. In this example chromosome and pDV represent main chromosome and plasmid for D. vulgaris Hildenborough, respectively.</li>
    <li> 2. Source gene</li>
    <li> 3. Target genes (other module members)</li>
    <li> 4. Interactions between source and target genes for a particular module</li>
    <li> 5. Module(s) that source gene and target genes belong to</li>
    <li> 6. Visualisation legend</li>
  </ul>

        </div>
   </div> 

   
</div>{# bicluster-top #}
{% endblock %}
