{% extends "base2.html" %}
{% load filters %}
{% block title %}Network Portal - Genes for {{ species.name }}{% endblock %}
{% block content %}
<script>
$(document).ready(function() { 
    $("#genes-table") 
    .tablesorter({widthFixed: true, widgets: ['zebra']}) 
    {#.tablesorterPager({container: $("#tablepager")})#}; 
});
</script>

<div class="main">
  <h5>Genes</h5>
  <p>Species: {{species|species_link}}<br>
  {% if filter == 'tf' %}
  transcription factors: {{ gene_count }}
  {% else %}
  genes: {{ gene_count }}
  {% endif %}
  </p>

  <table id="genes-table" class="tablesorter">
    <thead>
      <tr>
        <th>Name</th>
        <th>Common name</th>
        <th>Type</th>
        <th>Gene ID</th>
        <th>Chromosome</th>
        <th>Start</th>
        <th>End</th>
        <th>Strand</th>
        <th>Description</th>
        <th>TF</th>
      </tr>
    </thead>
    <tbody>
      {% for gene in genes %}
      <tr>
        <td>{{gene|gene_link}}</td>
        <td>{{ gene.common_name|default_if_none:"" }}</td>
        <td>{{ gene.type }}</td>
        <td>{{gene|gene_ncbi_link}}</td>
        <td>{{ gene.chromosome.name }}</td>
        <td>{{ gene.start }}</td>
        <td>{{ gene.end }}</td>
        <td>{{ gene.strand }}</td>
        <td>{{ gene.description }}</td>
        <td>{{ gene.transcription_factor }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div><!-- End #main -->
{% endblock %}
