{% extends "base2.html" %}
{% load filters %}
{% block title %}Network Portal - Networks for {{ network.species.name }}{% endblock %}
{% block content %}
<script>
$(document).ready(function() { 
    $("#network-table") 
    .tablesorter({widthFixed: true, widgets: ['zebra']}) 
    {#.tablesorterPager({container: $("#tablepager")})#}; 
});
</script>
<div class="main">

  <h5>{{ network.name }}</h5>

  <p>Species: <a href="/{{ network.species.short_name }}">{{ network.species.name }}</a></p>
  <p>Data source: {{ network.data_source }}</p>

  <table id="network-table" class="tablesorter">
    <caption> Summary table for the network</caption>
    <thead>
      <tr>
        <th>Bicluster</th>
        <th># of genes</th>
        <th>Residual</th>
        <th>Conditions</th>
      </tr>
    </thead>
    <tbody>
      {% for bicluster in biclusters %}
      <tr>
        <td>{{bicluster|bicluster_link}}</td>
        <td>{{ bicluster.genes.count }}</td>
        <td>{{ bicluster.residual }}</td>
        <td>{{bicluster.conditions.count}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  
  <table>
    <thead>
      <tr>
        <th>Influences</th>
      </tr>
    </thead>
    <tbody>
      {% for tf in network.species.transcription_factors %}
      <tr>
        <td><a href="/network/{{ network.id}}/regulated_by/{{ tf.name }}">{{ tf.display_name }}</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  
</div><!-- End #main -->
{% endblock %}
