{% extends "base2.html" %}
{% load filters %}
{% block title %}Network Portal - Species {{ species.name }}{% endblock %}
{% block content %}
{% load static %}
{% get_static_prefix as STATIC_PREFIX %}

<div class="sub-page">
  <h5>{{ species.name }}</h5>
  <br />
  <div id="organism_info">
    {% include organism_info %}
  </div>
   
  <h5>Networks</h5>
  <table>
    <thead>
      <tr>
        <th>Genes</th>
        <th>Transcription Factors</th>
        <th>Network</th>
        <th>Download (MEME)</th>
        <th>Data Sources</th>
       </tr>
     </thead>
     <tbody>
     	<tr>
     		<td><a href="/{{ species.short_name }}/genes">{{ gene_count }}</a></td>
  			<td><a href="/{{ species.short_name }}/genes?filter=tf">{{ transcription_factors|length }}</a></td>
  			<td>{% if species.network_set.count > 0 %}
  				    {% for network in species.network_set.all %}
    				<a href="{{network|network_url}}"><img align="center" src="{{ STATIC_PREFIX }}images/network.gif"/>Explore network</a></a>
  					{% endfor %}
  				{% else %}
  				No networks for this species, yet.
  				{% endif %}
  				</td>
        <td>{% if species.network_set.count > 0 %}
  				    {% for network in species.network_set.all %}
    				    {{network|meme_pssm_link}}
  					  {% endfor %}
  				  {% else %}No networks for this species, yet.{% endif %}
  			<td>
          {{species|species_mo_link}}
        </td>
  			</tr>
  		</tbody>
  	</table>

  <h5>Genome</h5>
  <table>
    <thead>
      <tr>
        <th>Chromosome</th>
        <th>Length</th>
        <th>Topology</th>
        <th>Refseq</th>
      </tr>
    </thead>
    <tbody>
      {% for chr in chromosomes %}
      <tr>
        <td>{{ chr.name }}</td>
        <td>{{ chr.length }}</td>
        <td>{{ chr.topology }}</td>
        <td>{% if chr.refseq %}<a href="http://www.ncbi.nlm.nih.gov/nuccore/{{ chr.refseq }}">{{ chr.refseq }}</a>{% endif %}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  
  
  <!-- <ul>
    {% for tf in transcription_factors %}
    <li><a href="/search/?q=regulator%3A{{ tf.name }}">{{ tf.name }}{% if tf.common_name %} ({{ tf.common_name }}){% endif %}</a></li>
    {% endfor %}
  </ul> -->
 
  
  <h5>Functions</h5>
 Explore gene functional annotation from any of these systems.</br>
  <table>
  	 <thead>
      <tr>
        <th>KEGG pathways</th>
        <th>GO Gene Ontology</th>
        <th>TIGRFams</th>
        <th>COGs</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><a href="">KEGG Pathways</a></td>
        <td><a href="">GO Gene Ontology</a></td>
        <td><a href="">TIGRFams</a></td>
        <td><a href="">COGs</a></td>
      </tr>
     </tbody>
  </table>
  <h5>Downloads</h5>
  <table>
  	 <thead>
      <tr>
        <th>Gene Expression</th>
        <th>Networks</th>
        <th>Functions</th>
        <th>Statistics</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><a href="{{ STATIC_PREFIX }}jnlp/mev-{{ species.short_name }}.jnlp">MeV File</a></td>
        <td><a href="{{ STATIC_PREFIX }}jnlp/cytoscape-{{ species.short_name }}.jnlp">Cytoscape File</a></td>
        <td><a href="">Tab-delimited</a></td>
        <td><a href="">PDF File</a></td>
      </tr>
     </tbody>
  </table>

  <h5>Links</h5>
  <ul>
    <li>
  <p><a href="http://www.ncbi.nlm.nih.gov/Taxonomy/Browser/wwwtax.cgi?id={{ species.ncbi_taxonomy_id }}"><img src="{{ STATIC_PREFIX }}images/ncbi.gif"> NCBI ({{ species.ncbi_taxonomy_id }})</a></p></li>
    <li>
    <p><a href="http://www.microbesonline.org/cgi-bin/genomeInfo.cgi?tId={{ species.ncbi_taxonomy_id }}"><img src="/static/images/microbesOnline150.gif"> MicobesOnline</a></p></li>
    <li>
  {% if species.ucsc_id %}
  <p><a href="http://microbes.ucsc.edu/cgi-bin/hgGateway?db={{ species.ucsc_id }}"><img src="/static/images/pae-browser-sample_small.png" alt="UCSC Genome Browser"> UCSC Genome Browser</a>.</p></li>
    </ul>
  {% endif %}

</div><!-- End #main -->
{% endblock %}
