{% extends "base2.html" %}
{% load staticfiles %}
{% load filters %}
{% block title %}Network Portal - Advanced Search{% endblock %}
{% block cssspecial %}
<style>
.addfilterrow, .remfilterrow {
  width: 30px;
}
</style>
{% endblock %}
{% block jsspecial %}
<script src="{% static "javascripts/advsearch.js" %}"></script>
<script type="text/javascript">
$(document).ready(function() {
  advsearch.initFilters('#module-filters', '#orgcode', '#results');

  $('#search-genes').click(function() {
    $.ajax({
      url: "/searchgenes",
      data: {
        organism: $('#orgcode').val(),
        attribute: $('#gene-search-attr').val(),
        term: $('#gene-search-term').val()
      },
      crossDomain: true,
      error: function(xhr, status, errorThrown) {
        console.debug("error here: " + errorThrown);
      },
      success: function(data) {
        $('#results').replaceWith(data);
      }
    });
  });
});
</script>
{% endblock %}
{% block content %}
<form>
<h2>Organism</h2>
<div>Select organism (default: All)</div>
<div>
  <select id="orgcode">
    <option value="all">All</option>
    {% for sp in species %}<option value="{{sp.short_name}}">{{sp.name}}</option>
    {% endfor %}
  </select>
</div>
<h2>Gene Search</h2>
<div>Select a field to search (default: Name)</div>
<div>
  <select id="gene-search-attr">
    <option value="name">Name</option>
    <option value="locustag">Locus tag</option>
    <!-- <option value="aliases">Aliases</option> -->
    <option value="function">Function</option>
    <!-- <option value="regulator">Regulator</option> -->
  </select>
  Search Term <input type="text" id="gene-search-term"></input>
  <input id="search-genes" type="button" value="Search Genes">
</div>
<h2>Module Search</h2>
<div>Filter by residual (default: no-filter)</div>
<div id="module-filters">Filter placeholder</div>
<input id="search-modules" type="button" value="Search Modules">
</form>
<div id="results"></div>
{% endblock %}
