{% extends "base2.html" %}
{% load staticfiles %}
{% load filters %}
{% load search_tags %}
{% block title %}Network Portal - Search{% endblock %}
{% block cssspecial %}
<link rel="stylesheet" href="{% static "stylesheets/redmond/jquery-ui-1.8.16.custom.css" %}">
<link rel="stylesheet" href="{{STATIC_PREFIX}}stylesheets/colorbox.css" />
{% endblock %}
{% block jsspecial %}
<script src="{% static "javascripts/search_helpers.js" %}"></script>
<script type='text/javascript' src='{{STATIC_PREFIX}}javascripts/jquery.colorbox.js'></script>
{% endblock %}
{% block content %}
<script type="text/javascript">
$(document).ready(function() {
    $("#query").autocomplete({
      source: function(request, response) {
        $.ajax({
          url: "{{solr_suggest}}",
          crossDomain: true,
          dataType: "jsonp",
          async: false,
          data: { q: request.term },
          success: function(data) {
              response(data.spellcheck.suggestions[1].suggestion);
          }
        });
      },
      minLength: 1,
      select: function (event, ui) { }
    });

    $(".example-search").click(function(event) {
        $("#query").val($(event.target).text());
    });
    // Selections in result table
    var geneMap = {};
    {% for species_id, genes in species_genes.items %}
    geneMap['{{species_id}}'] = {};
    {% for gene in genes %}geneMap['{{species_id}}'][{{gene.id}}] = {biclusters: [{{ gene.bicluster_ids|join:"," }}]};
    {% endfor %}
    {% endfor %}

    searchhelpers.bindResultTableEvents(geneMap);
    $('.help').colorbox({inline: true, width: "50%"});
});
</script>
<div class="sub-page">
  <a class="help" href="#help"><img align="right" src="/static/images/help.png" /></a><h5>Search</h5>
  <span class="search_help">(Start typing keywords, press ESC to close suggestions)</span>
  <form action="/search" method="get">
    <ul id="search">
      <input type="text" id="query" name="q" value="{{ q }}"></input>
      <input type="submit" value="Search" class="medium blue awesome"></input>
      <input type="reset" value="Reset" class="medium yellow awesome"></input>
      <a href="/advsearch"><input type="text" value="Advanced Search" class="medium red awesome"></input></a>
    </ul>
  </form>
  <p><b>Example 1: </b><span class="example-search">DVU0848 DVU0694 DVU0693 DVU0778 DVU0846</span>
  <span class="search_help">(Click to add)</span></p>
  <p><b>Example 2: </b><span class="example-search">thioredoxin, oxidative</span>
  <span class="search_help">(Click to add)</span></p>
  {% if error_message %}
  <div class="error_message">
    <h4>Search Error</h4>
    <p>{{ error_message }}</p>
  </div>
  {% endif %}
  {% if q %}
  {% if species_names %}
    <h5>Search Result Summary</h5>
   <span class="search_help">(Click on numbers to see results for specific organism)</span>
   <font color=#FF4040> {{species_genes|search_result_map:species_names}}</font> You searched for <font color=#FF4040>"{{q}}"</font>.
   {% for species, genes in species_genes.items %}
  <a name="species_{{species_id}}"></a>

  <table id="search-results-table" class="tablesorter">
    <caption> Search results for '{{species_names|lookup:species}}' ({{genes|length}})</caption>
    <tbody>
      <tr>
        <th><input type="checkbox" id="sel_all_genes_{{species}}"></input></th>
	<th>Genes</th>
	<th>Description</th>
	<th>Regulated&nbsp;by</th>
	<th>Regulates</th>
	<th>In Modules</th>
      </tr>
      {% for gene in genes %}
      <tr>
        <td><input type="checkbox" id="sel_gene_{{species}}_{{gene.id}}"></input></td>
        <td>{{gene|searchgene_link}}</td>
        <td>{{ gene.description }}</td>
	      <td>{{gene|searchgene_regulation_link}}</td>
        {% if gene.regulated_biclusters|length == 0 %}
        <td>-</td>
        {% else %}
	      <td>{{gene|searchgene_regulates_link}}</td>
        {% endif %}
	      <td>{{gene|searchgene_bicluster_links}}</td>
      </tr>
      {% endfor %} <!-- for result in genes -->
    </tbody>
  </table>
  <span class="search_help">* Selecting genes will enable link to their network</span>
  <p><div id="display-network_{{species}}"></div></p>
  {% endfor %}
  {% else %}
    <p><div class="error_message">
        <div class="main">
            <div class="ui-widget">
                <div class="ui-state-highlight ui-corner-all" style="padding: 0 .7em;">
                    <p><span class="ui-icon ui-icon-info" style="float:left;margin-right:.1em;"></span>
                    <strong> Warning:</strong> Your search returned no results!</p>
                </div>
            </div>
         </div>
       </div>
   </p>
  {% endif %} <!-- for results -->
  {% endif %} <!-- if q -->
  <div style="display:none">
	<div id='help' style='padding:10px; background:#fff; text-align:left;'>
    <h5>Search Help</h5>
    <p>Enter you search terms in the box and click "Submit". All the fields in the database will be searched to match the query. 
    You query could be gene names or functions. You can switch to "Advanced Search" anytime to build more specific queries.
    <p> Results will be presented as table of search results containing the columns "Genes", "Description", "Regulated by", "Regulates" and "In modules".</p>
    <p>
    <b>Genes:</b> Link to genes matching to query</br>
    <b>Description:</b> Description of the gene</br>
    <b>Regulated by:</b> List of Transcription factors or environmental factors identified by Inferelator to influence this gene.</br>
    <b>Regulates:</b> If the matching gene is a transcription factor, modules that are regulated by this transcription factor will be listed.</br>
    <b>In Modules:</b> Modules that contain this gene will be listed</br>
    </p>
    <p> There is a checkbox next to each row. Selecting a particular gene or genes will enable the link under the table to access the cytoscape web
     network of all the modules that includes these genes.
	</div>
  </div>
  
</div><!-- End #main -->
{% endblock %}
