.divGaggleOutputUnit {
}


.divResultIFrames {

}

.iframediv {
    width: 0px;
    height: 0px;
}

.gaggleiframe {
    width: 0px;
    height: 0px;
}

.parseIFrame {
    height: 800px;
    width: 1000px;
}

a.carousel-control {
 width:6%;
 color: rgba(22, 1, 31, 0.67);
}