{% extends "base2.html" %}
{% load filters %}
{% load staticfiles %}
{% block title %}Network Portal - Administration{% endblock %}
{% block content %}
<script>
$(document).ready(function() { 
    $("#species-table") 
    .tablesorter({widthFixed: true, widgets: ['zebra']}) 
    {#.tablesorterPager({container: $("#tablepager")})#};

    $('#addspecies').attr('disabled', 'disabled');

    $("#checkspecies").click(function() {
       $('#keggcode').attr('disabled', 'disabled');
       var kegg = $('#keggcode').val();
       if (kegg.length == 0) {
         alert('Please enter a KEGG code');
         $('#keggcode').removeAttr('disabled');
       } else {
         $('<div id="import-message">Checking organism...</div>').replaceAll("#import-message");
         $.ajax('/check_import_species/' + kegg).done(function(data) {
           if (data.status == 'ok') {
             $('<div id="import-message">Ok</div>').replaceAll("#import-message");
             $('#addspecies').removeAttr('disabled');
           }
         });         
       }
       return false;
    });

    $("#addspecies").click(function() {
       $('#keggcode').attr('disabled', 'disabled');
       var kegg = $('#keggcode').val();
       if (kegg.length == 0) {
         alert('Please enter a KEGG code');
       } else {
         // submit by Ajax
         console.debug($('#keggcode').val());
         $.ajax('/import_species/' + kegg).done(function() {
           console.debug('done');
           $('#keggcode').removeAttr('disabled');
         });
       }
       return false;
    });
});
</script>

<div class="main">
  {% if messages %}
  <ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{message.tags}}"{% endif %}>{{message}}</li>
    {% endfor %}
  </ul>
  {% endif %}
  <h3>Administration</h3>
  <div>
  <form>
    <h4>Add new Species</h4>
    KEGG Code
    <input type="text" style="width: 80px" id="keggcode"></input>
    <input type="submit" id="checkspecies" value="Check..."></input>
    <input type="submit" id="addspecies" value="Add..."></input>
    <div id="import-message"></div>
  </form>

  <h4 style="margin-left: 10px;">Species Currently In The System</h4>
  <table id="species-table" class="tablesorter">
    <thead>
      <th>Name</th>
      <th>Short Name</th>
      <th>NCBI ID</th>
    </thead>
    <tbody>
      {% for s in species %}
      <tr>
        <td>{{s.name}}</td>
        <td>{{s.short_name}}</td>
        <td>{{s.ncbi_taxonomy_id}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  </div>
</div>
{% endblock %}
