{% load static %}{% get_static_prefix as STATIC_PREFIX %}<!doctype html>
<html>
  <head>
    <title>{% block title %}Network Portal{% endblock %}</title>
    {% block cssreset %}{% endblock %}
    {% block csscommon %}
    <link rel="stylesheet" href="{{ STATIC_PREFIX }}stylesheets/portal-style.css">
    <link rel="stylesheet" href="{{ STATIC_PREFIX }}stylesheets/jquery.reject.css">{% endblock %}
    <link href="{{ STATIC_PREFIX }}javascripts/jquery.qtip.min.css" rel="stylesheet" type="text/css" />
    {% block cssspecial %}{% endblock %}
    {% block jscommon %}
    <!--<script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script> -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.js"></script>

    <script src="{{STATIC_PREFIX}}javascripts/jquery-ui-1.11.2.custom/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="{{ STATIC_PREFIX }}javascripts/jquery-ui-1.11.2.custom/jquery-ui.min.css">
    <script type="text/javascript" src="{{ STATIC_PREFIX }}cytoscapeweb/js/json2.min.js"></script>
        {% endblock %}
    {% block jsspecial %}{% endblock %}
    <script type="text/javascript" src="{{ STATIC_PREFIX }}javascripts/main.js"></script>
    <script type="text/javascript" src="{{ STATIC_PREFIX }}javascripts/collapsing_divs.js"></script>
    <script type="text/javascript" src="{{ STATIC_PREFIX }}javascripts/jquery.tablesorter.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_PREFIX }}javascripts/jquery.tablesorter.pager.js"></script>
	<script type="text/javascript" src="{{ STATIC_PREFIX }}javascripts/jquery.jcarousel.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_PREFIX }}javascripts/jquery.qtip.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_PREFIX }}javascripts/jquery.reject.min.js"></script>
    <!-- google analytics -->
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-29739526-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
        <script type="text/javascript">
            // Create the tooltips only on document load
            $(document).ready(function()
                              {
                              // By suppling no content attribute, the library uses each elements title attribute by default
                              $('underlinemenu a[href][title]').qtip({
                                                                content: {
                                                                text: false // Use each elements title attribute
                                                                },
                                                                      style: 'cream' // Give it some style
                                                                });
                              
                              // NOTE: You can even omit all options and simply replace the regular title tooltips like so:
                              // $('#content a[href]').qtip();
                              });
            </script>
  </head>
  <body>
    {% block basewrap %}<div id="wrap-no-line">{% endblock %}
    <div id="header">
      <h1 id="logo-text"><a href="/"></a>
     <a href="{% url 'home' %}"><img alt="Logo" src="{{ STATIC_PREFIX }}images/logo-text.png"></a></h1>
     <p id="slogan"> <a href="http://www.systemsbiology.org"><img alt="Logo" src="{{ STATIC_PREFIX }}images/isb_logo.png"></a></p>    
     <div id="underlinemenu" class="underlinemenu">
	<ul>
	  {% if request.user.is_authenticated %}
	  <li><a href="{% url 'logout' %}" title="Click to logout">{{ request.user.email }}</a></li>
      <li><a href="{% url 'workspace' %}" title="Go to My workspace">My Workspace</a></li>
	  {% else %}
	  <li><a href="{% url 'social:begin' 'google-oauth2' %}?next={{ request.path }}">Login</a></li>
	  {% endif %}
	  <li><a href="{% url 'about' %}">About</a></li>
	  <li><a href="{% url 'contact' %}">Contact</a></li>
	  <li><a href="{{ STATIC_PREFIX }}apidocuments">API</a></li>
	</ul>
      </div>
      </div>{% load nav_tags %}
      <div id="nav">
        <ul>
          <li class="{% active request "^/$" %}"><a href="/">Home</a></li>
          <li class="{% active request "^/search" %}"><a href="/search">Search</a></li>
          <li class="{% active request "^/species" %}"><a href="/species">Species</a></li>
          <li class="{% active request "^/workspace" %}"><a href="/workspace">Workspace</a></li>
	        {% if request.user.is_authenticated %}
          <li class="{% active request "^/userdata" %}"><a href="/userdata">My Networks</a></li>
          {% endif %}
	        {% if request.user.is_staff %}
          <li class="{% active request "^/nwpadmin" %}"><a href="/nwpadmin">Administration</a></li>
          {% endif %}
          <li class="{% active request "^/help" %}"><a href="/help/" title="help">Help</a></li>

        <!-- <li class="{% active request "^/analysis/gene" %}"><a href="/analysis/gene">Example</a></li>-->
        </ul>
      </div>{# end nav #}
      <div id="content">
        {% block content %}{% endblock %}
      </div>{# content #}
      <div id="footer">
        {% block footer %}
         <!--<a href="http://genomicscience.energy.gov/index.shtml#page=news"><img height="50px"src="{{ STATIC_PREFIX }}images/kbase-logo.jpg"></a>-->
	  <p> &copy <a href="http://baliga.systemsbiology.net/" title="Baliga Lab">Baliga Lab</a>
          | <a href="http://systemsbiology.org" title="ISB">Institute for Systems Biology</a>
        | <a href="{% url 'workspace' %}">Development</a>
        | <a href="{% url 'home' %}">Home</a></p>
	{% endblock %}
      </div>{# end footer #}
      <center>
         <a href="http://genomicscience.energy.gov/index.shtml#page=news"><img height="50px"src="{{ STATIC_PREFIX }}images/kbase-logo.jpg"></a></center>
        
        </div>{# end wrap #}
  </body>
</html>
