{% extends "base2.html" %}
{% block title %}Network Portal - Welcome{% endblock %}
{% block cssspecial %}
<link rel="stylesheet" href="{{STATIC_PREFIX}}stylesheets/jquery-overlay.css" media="screen" />
<link rel="stylesheet" href="http://code.jquery.com/ui/1.9.2/themes/start/jquery-ui.css" />
<link rel="stylesheet" href="{{STATIC_PREFIX}}stylesheets/accordion-slider.css" media="screen" />
{% endblock %}
{% block jsspecial %}

<script type="text/javascript">
  $(document).ready(function() {
    $("#query").autocomplete({
      source: function(request, response) {
        $.ajax({
          url:      "http://networks.systemsbiology.net:8983/solr/suggest/?wt=json&json.wrf=?",
          crossDomain: true,
          dataType: "jsonp",
          async: false,
          data: { q: request.term },
          success: function(data) {
              response(data.spellcheck.suggestions[1].suggestion);
          }
        });
      },
      minLength: 1,
      select: function (event, ui) { }
    });
  });
</script>

{% endblock %}

{% block content %} <div class="main">
  <h5>Welcome to Network Portal  <img src="{{ STATIC_PREFIX }}images/logo_small.png" title="Network Portal Icon" style="background:none;border:0px;position:relative; float:right;"></h5>
  <p> Network Portal provides analysis and visualization tools for selected gene regulatory networks to aid researchers in biological discovery and hypothesis development. [<a href="/about" title="Read more"> ..read more</a>]</p>
<p><a class="large blue awesome" href="/help#tabs-4"> See in Action</a><a class="large magenta awesome" href="/help"> Get Help</a><a class="large yellow awesome" href="/help#tabs-5"> Get involved</a>
<div>
	<ul id="accordion-slider">
		<li><a href="workflow"><img src="{{ STATIC_PREFIX }}images/slide-1.jpg"/></a><span>Visit <a href="workflow" title="workflow">Workflow</a> page to give it a try.</span></li>
		<li><a href="species"><img src="{{ STATIC_PREFIX }}images/slide-2.jpg"/></a><span>You can explore all species and associated information <a href="species">here</a></span></li>
		<li><a href="http://gaggle.systemsbiology.net"><img src="{{ STATIC_PREFIX }}images/slide-3.jpg"/></a><span>Make sure to check out <a href="http://gaggle.systemsbiology.net">Gaggle Website</a> for the latest updates.</span></li>
	</ul>
</div>

<h5> Organisms </h5>
<span class="search_help">(Click on organism name to access related resources)</span>
<div style="text-align:center; width:412px; margin-left:auto; margin-right:auto;">


<img id="Image-Maps_5201302180030267" src="{{ STATIC_PREFIX }}images/portal_organisms.png" usemap="#Image-Maps_5201302180030267" border="0" width="412" height="358" alt="" />
<map id="_Image-Maps_5201302180030267" name="Image-Maps_5201302180030267">
<area shape="rect" coords="75,0,266,16" href="http://networks.systemsbiology.net/species/mmp" rel="#overlay1" title="mmp"    />
<area shape="rect" coords="75,27,266,43" href="http://networks.systemsbiology.net/species/hal" rel="#overlay2" title="hal"    />
<area shape="rect" coords="76,55,318,71" href="http://networks.systemsbiology.net/species/bth" rel="#overlay3" title="bth"    />
<area shape="rect" coords="102,84,344,100" href="http://networks.systemsbiology.net/species/cac" rel="#overlay4" title="cac"    />
<area shape="rect" coords="126,112,302,128" href="http://networks.systemsbiology.net/species/bce" rel="#overlay5" title="bce"    />
<area shape="rect" coords="134,142,367,158" href="http://networks.systemsbiology.net/species/bsu" rel="#overlay6" title="bsu"    />
<area shape="rect" coords="76,170,291,186" href="http://networks.systemsbiology.net/species/syf" rel="#overlay7" title="syf"    />
<area shape="rect" coords="103,198,299,214" href="http://networks.systemsbiology.net/species/rsp" rel="#overlay8" title="rsp"    />
<area shape="rect" coords="131,227,327,243" href="http://networks.systemsbiology.net/species/pae" rel="#overlay9" title="pae"    />
<area shape="rect" coords="131,255,267,271" href="http://networks.systemsbiology.net/species/eco" rel="#overlay10" title="eco"    />
<area shape="rect" coords="130,285,350,301" href="http://networks.systemsbiology.net/species/cje" rel="#overlay11" title="cje"    />
<area shape="rect" coords="158,313,351,329" href="http://networks.systemsbiology.net/species/gsu" rel="#overlay12" title="gsu"    />
<area shape="rect" coords="179,338,407,353" href="http://networks.systemsbiology.net/species/dvu" rel="#overlay13" title="dvu"    />
</map>
</div>

<div class="simple_overlay" id="overlay1">
  <div class="details">
 	<h5>Methanococcus maripaludis S2</h5>
  	<table>
    	<thead>
      	<tr>
        	<th>Genes</th>
        	<th>Transcription Factors</th>
        	<th>Network</th>
        	<th>Organism Page</th>
       	</tr>
     	</thead>
     	<tbody>
     	<tr>
     		<td><a href="/genes/mmp">1863</a></td>
  			<td><a href="/genes/mmp?filter=tf">57</a></td>
  			<td><a href="/network/2"><img align="center" src="{{ STATIC_PREFIX }}images/network.gif"/>Explore network</a></td>
  			<td><a href="/species/mmp">Mmp</a></td>
  		</tr>
  		</tbody>
  	</table>
  </div>
</div>

<div class="simple_overlay" id="overlay2">
  <div class="details">
 	<h5>Halobacterium salinarum NRC-1</h5>
  	<table>
    	<thead>
      	<tr>
        	<th>Genes</th>
        	<th>Transcription Factors</th>
        	<th>Network</th>
        	<th>Organism Page</th>
       	</tr>
     	</thead>
     	<tbody>
     	<tr>
     		<td><a href="/genes/hal">2701</a></td>
  			<td><a href="/genes/hal?filter=tf">125</a></td>
  			<td><a href="/network/3"><img align="center" src="/static/images/network.gif"/>Explore network</a></td>
  			<td><a href="/species/hal">Hal</a></td>
  		</tr>
  		</tbody>
  	</table>
  </div>
</div>

<div class="simple_overlay" id="overlay3">
  <div class="details">
 	<h5>Bacteroides_thetaiotaomicron_VPI-5482</h5>
  	<table>
    	<thead>
      	<tr>
        	<th>Genes</th>
        	<th>Transcription Factors</th>
        	<th>Network</th>
        	<th>Organism Page</th>
       	</tr>
     	</thead>
     	<tbody>
     	<tr>
     		<td><a href="/genes/bth">4902</a></td>
  			<td><a href="/genes/bth?filter=tf">0</a></td>
  			<td><a href="/network/10"><img align="center" src="/static/images/network.gif"/>Explore network</a></td>
  			<td><a href="/species/bth">Bth</a></td>
  		</tr>
  		</tbody>
  	</table>
  </div>
</div>

<div class="simple_overlay" id="overlay4">
  <div class="details">
 	<h5>Clostridium_acetobutylicum</h5>
  	<table>
    	<thead>
      	<tr>
        	<th>Genes</th>
        	<th>Transcription Factors</th>
        	<th>Network</th>
        	<th>Organism Page</th>
       	</tr>
     	</thead>
     	<tbody>
     	<tr>
     		<td><a href="/genes/cac">3995</a></td>
  			<td><a href="/genes/cac?filter=tf">259</a></td>
  			<td><a href="/network/11"><img align="center" src="/static/images/network.gif"/>Explore network</a></td>
  			<td><a href="/species/cac">Cac</a></td>
  		</tr>
  		</tbody>
  	</table>
  </div>
</div>

<div class="simple_overlay" id="overlay5">
  <div class="details">
 	<h5>Bacillus_cereus_ATCC14579</h5>
  	<table>
    	<thead>
      	<tr>
        	<th>Genes</th>
        	<th>Transcription Factors</th>
        	<th>Network</th>
        	<th>Organism Page</th>
       	</tr>
     	</thead>
     	<tbody>
     	<tr>
     		<td><a href="/genes/bce">5501</a></td>
  			<td><a href="/genes/bce?filter=tf">376</a></td>
  			<td><a href="/network/8"><img align="center" src="/static/images/network.gif"/>Explore network</a></td>
  			<td><a href="/species/bce">Bce</a></td>
  		</tr>
  		</tbody>
  	</table>
  </div>
</div>

<div class="simple_overlay" id="overlay6">
  <div class="details">
 	<h5>Bacillus_subtilis</h5>
  	<table>
    	<thead>
      	<tr>
        	<th>Genes</th>
        	<th>Transcription Factors</th>
        	<th>Network</th>
        	<th>Organism Page</th>
       	</tr>
     	</thead>
     	<tbody>
     	<tr>
     		<td><a href="/genes/bsu">4313</a></td>
  			<td><a href="/genes/bsu?filter=tf">319</a></td>
  			<td><a href="/network/9"><img align="center" src="/static/images/network.gif"/>Explore network</a></td>
  			<td><a href="/species/bsu">Bsu</a></td>
  		</tr>
  		</tbody>
  	</table>
  </div>
</div>

<div class="simple_overlay" id="overlay7">
  <div class="details">
 	<h5>Synechococcus elongatus PCC 7942</h5>
  	<table>
    	<thead>
      	<tr>
        	<th>Genes</th>
        	<th>Transcription Factors</th>
        	<th>Network</th>
        	<th>Organism Page</th>
       	</tr>
     	</thead>
     	<tbody>
     	<tr>
     		<td><a href="/genes/syf">2717</a></td>
  			<td><a href="/genes/syf?filter=tf">Pending Inferelator</a></td>
  			<td><a href="/network/4"><img align="center" src="/static/images/network.gif"/>Explore network</a></td>
  			<td><a href="/species/syf">Syf</a></td>
  		</tr>
  		</tbody>
  	</table>
  </div>
</div>

<div class="simple_overlay" id="overlay8">
  <div class="details">
 	<h5>Rhodobacter_sphaeroides_2_4_1</h5>
  	<table>
    	<thead>
      	<tr>
        	<th>Genes</th>
        	<th>Transcription Factors</th>
        	<th>Network</th>
        	<th>Organism Page</th>
       	</tr>
     	</thead>
     	<tbody>
     	<tr>
     		<td><a href="/genes/rsp">4341</a></td>
  			<td><a href="/genes/rsp?filter=tf">231</a></td>
  			<td><a href="/network/13"><img align="center" src="/static/images/network.gif"/>Explore network</a></td>
  			<td><a href="/species/rsp">Rsp</a></td>
  		</tr>
  		</tbody>
  	</table>
  </div>
</div>

<div class="simple_overlay" id="overlay9">
  <div class="details">
 	<h5>Pseudomonas_aeruginosa</h5>
  	<table>
    	<thead>
      	<tr>
        	<th>Genes</th>
        	<th>Transcription Factors</th>
        	<th>Network</th>
        	<th>Organism Page</th>
       	</tr>
     	</thead>
     	<tbody>
     	<tr>
     		<td><a href="/genes/pae">5646</a></td>
  			<td><a href="/genes/pae?filter=tf">475</a></td>
  			<td><a href="/network/7"><img align="center" src="/static/images/network.gif"/>Explore network</a></td>
  			<td><a href="/species/pae">Pae</a></td>
  		</tr>
  		</tbody>
  	</table>
  </div>
</div>

<div class="simple_overlay" id="overlay10">
  <div class="details">
 	<h5>Escherichia_coli_K12</h5>
  	<table>
    	<thead>
      	<tr>
        	<th>Genes</th>
        	<th>Transcription Factors</th>
        	<th>Network</th>
        	<th>Organism Page</th>
       	</tr>
     	</thead>
     	<tbody>
     	<tr>
     		<td><a href="/genes/eco">4497</a></td>
  			<td><a href="/genes/eco?filter=tf">Pending Inferelator</a></td>
  			<td><a href="/network/14"><img align="center" src="/static/images/network.gif"/>Explore network</a></td>
  			<td><a href="/species/eco">Eco</a></td>
  		</tr>
  		</tbody>
  	</table>
  </div>
</div>

<div class="simple_overlay" id="overlay11">
  <div class="details">
 	<h5>Campylobacter_jejuni</h5>
  	<table>
    	<thead>
      	<tr>
        	<th>Genes</th>
        	<th>Transcription Factors</th>
        	<th>Network</th>
        	<th>Organism Page</th>
       	</tr>
     	</thead>
     	<tbody>
     	<tr>
     		<td><a href="/genes/cje">1711</a></td>
  			<td><a href="/genes/cje?filter=tf">39</a></td>
  			<td><a href="/network/12"><img align="center" src="/static/images/network.gif"/>Explore network</a></td>
  			<td><a href="/species/cje">Cje</a></td>
  		</tr>
  		</tbody>
  	</table>
  </div>
</div>

<div class="simple_overlay" id="overlay12">
  <div class="details">
 	<h5>Geobacter_sulfurreducens</h5>
  	<table>
    	<thead>
      	<tr>
        	<th>Genes</th>
        	<th>Transcription Factors</th>
        	<th>Network</th>
        	<th>Organism Page</th>
       	</tr>
     	</thead>
     	<tbody>
     	<tr>
     		<td><a href="/genes/gsu">3519</a></td>
  			<td><a href="/genes/gsu?filter=tf">156</a></td>
  			<td><a href="/network/6"><img align="center" src="/static/images/network.gif"/>Explore network</a></td>
  			<td><a href="/species/gsu">Gsu</a></td>
  		</tr>
  		</tbody>
  	</table>
  </div>
</div>

<div class="simple_overlay" id="overlay13">
  <div class="details">
 	<h5>Desulfovibrio vulgaris Hildenborough</h5>
  	<table>
    	<thead>
      	<tr>
        	<th>Genes</th>
        	<th>Transcription Factors</th>
        	<th>Network</th>
        	<th>Organism Page</th>
       	</tr>
     	</thead>
     	<tbody>
     	<tr>
     		<td><a href="/genes/dvu">3661</a></td>
  			<td><a href="/genes/dvu?filter=tf">128</a></td>
  			<td><a href="/network/1"><img align="center" src="/static/images/network.gif"/>Explore network</a></td>
  			<td><a href="/species/dvu">Dvu</a></td>
  		</tr>
  		</tbody>
  	</table>
  </div>
</div>

  <h5>Methodology</h5> 
  <p> Network Portal integrates identification of conditionally co-regulated group of genes by using <a href="http://baliga.systemsbiology.net/cmonkey" title="cMonkey">cMonkey</a> and inference of regulatory influences by using <a href="http://baliga.systemsbiology.net/drupal/content/inferelator">Inferelator</a>. In addition, it is integrated with <a href="http://microbesonline.org">MicrobesOnline</a> for genomic information, <a href="http://regprecise.lbl.gov/RegPrecise">RegPrecise</a> for collection of manually curated regulatory inferences, and <a href="http://regpredict.lbl.gov/regpredict">RegPredict</a> for Regulon Inference by Known Position Weight Matrix (PWM). [<a href="/about"> ..read more</a>]</p>

  <h5>Data Sources</h5><p>
  <!--<span id="link-button" class="link-button">-->
  <a class = "medium blue awesome" href="http://enigma.lbl.gov/" title="Go to http://enigma.lbl.gov/">ENIGMA</a>
  <a class = "medium blue awesome" href="http://microbesonline.org" title="Go to http://microbesonline.org">MicrobesOnline</a>
  <a class = "medium blue awesome" href="http://regprecise.lbl.gov/RegPrecise/" title="Go to http://regprecise.lbl.gov/RegPrecise/">RegPrecise</a>
  <a class = "medium blue awesome" href="http://www.ncbi.nlm.nih.gov/" title="Go to http://www.ncbi.nlm.nih.gov/">NCBI</a>
  <a class = "medium blue awesome" href="http://www.genome.jp/kegg/" title="Go to http://www.genome.jp/kegg/">KEGG</a>
  <a class = "medium blue awesome" href="http://www.geneontology.org/" title="Go to http://www.geneontology.org">GO</a>
  <a class = "medium blue awesome" href="http://baliga.systembiology.net/" title="Go to baliga.systembiology.net">Baliga Lab</a>
   <p>Network Portal and associated Gaggle Tools are being developed by <a href="http://baliga.systemsbiology.net">Baliga Lab</a> at <a href="http://systemsbiology.org">Institute for Systems Biology</a> as part of the <a href="http://kbase.science.energy.gov/index.php">DOE KnowledgeBase</a> efforts.
 </div><!-- End #main -->

<div id="sidebar">
  <h3>Quick Search</h3>
  <span class="search_help">(Start typing keywords, press ESC to close suggestions)</span>
  <form id="qsearch" action="/search/" method="get">
    <input class="tbox" type="text" id="query" name="q" value="{{ q }}"></input>
    <input class="btn" type="image" name="searchsubmit" value="Search" src="{{STATIC_PREFIX}}images/search.gif"></input>
  </form>

  <h3>Statistics</h3>
  <table>
    <tr>
      <th>Species</th>
      <th>Networks</th>
      <th>Version</th>
    </tr>
    <tr>
      <td><a href="/species/">{{ sp_count }}</a></td>
      <td><a href="/networks/">{{ net_count }}</a></td>
      <td>{{ version }}</td>	  
    </tr>
    <tr>
      <th>Regulons</th>
      <th>Regulators</th>
      <th>Motifs</th>
    </tr>
    <tr>
      <td>{{ bicl_count }}</td>
      <td>{{ influence_count }}</td>
      <td>{{ motif_count }}</td>
    </tr>
  </table>

   <h3>Updates </h3>
<br>
<script charset="utf-8" src="http://widgets.twimg.com/j/2/widget.js"></script>
<script>
new TWTR.Widget({
  version: 2,
  type: 'profile',
  rpp: 4,
  interval: 30000,
  width: 260,
  height: 300,
  theme: {
    shell: {
      background: '#faf7f5',
      color: '#977C57',
     
    },
    tweets: {
      background: '#ffffff',
      color: '#421610',
      links: '#073aa7'
    }
  },
  features: {
    scrollbar: false,
    loop: false,
    live: false,
    behavior: 'all'
  }
}).render().setUser('Network_Portal').start();
</script>

<!--  <h3>What's New</h3>
  <ul class="sidemenu">
    <li> Now you can further analyze motifs with <a target="_blank" href="http://regpredict.lbl.gov/regpredict/index.html">RegPredict</a> for <i>D. vulgaris</i> H.</li>
    <li> 
      This version of Network Portal includes 4 organisms
    </li>
    <li>
      Regulon functional enrichments from KEGG, GO, COG and TIGRFam are now implemented 
    </li>
  </ul>-->
<a href="http://www.facebook.com/NetworkPortal"> <img src="{{ STATIC_PREFIX }}images/Facebook-32.png" align="right"></a>
<a href="https://twitter.com/#!/Network_Portal"><img src="{{ STATIC_PREFIX }}images/Twitter-32.png" align="right"></a>
<img src="{{ STATIC_PREFIX }}images/Linkedin-32.png" align="right">
<img src="{{ STATIC_PREFIX }}images/Rss-32.png" align="right">

</div><!-- end #sidebar -->
<script type="text/javascript" src="http://cdn.jquerytools.org/1.2.7/full/jquery.tools.min.js"></script>
<script>
  $(document).ready(function() {
      $("area[rel]").overlay();
    });
</script>
<script type='text/javascript' src='{{STATIC_PREFIX}}javascripts/jquery.kwicks-1.5.1.pack.js'></script>
<script type="text/javascript">
	$().ready(function() {
		$('#accordion-slider').kwicks({ max : 520, spacing : 2 });
 		});
</script>
{% endblock %}
