{% extends "base2.html" %}
{% block title %}Network Portal - Welcome{% endblock %}
{% block cssspecial %}<link rel="stylesheet" href="{{ STATIC_PREFIX }}stylesheets/redmond/jquery-ui-1.8.16.custom.css">{% endblock %}
{% block jsspecial %}<script type="text/javascript">
  $(document).ready(function() {
    $("#query").autocomplete({
      source: function(request, response) {
        $.ajax({
          url:      "http://networks.systemsbiology.net:8983/solr/suggest/?wt=json&json.wrf=?",
          crossDomain: true,
          dataType: "jsonp",
          async: false,
          data: { q: request.term },
          success: function(data) {
              response(data.spellcheck.suggestions[1].suggestion);
          }
        });
      },
      minLength: 1,
      select: function (event, ui) { }
    });
  });
</script>

{% endblock %}
{% block content %}<div class="main">
  <h5>Welcome to Network Portal  <img src="{{ STATIC_PREFIX }}images/logo_small.png" title="Network Portal Icon" style="background:none;border:0px;position:relative; float:right;"></h5>
  <p> Network Portal provides analysis and visualization tools for selected gene regulatory networks to aid researchers in biological discovery and hypothesis development. [<a href="/about"> ..read more</a>]</p>

  <h5>Methodology</h5> 
  <p> Network Portal integrates identification of conditionally co-regulated group of genes by using <a href="http://baliga.systemsbiology.net/cmonkey">cMonkey</a> and inference of regulatory influences by using <a href="http://baliga.systemsbiology.net/drupal/content/inferelator">Inferelator</a>. In addition, it is integrated with <a href="http://microbesonline.org">MicrobesOnline</a> for genomic information, <a href="http://regprecise.lbl.gov/RegPrecise">RegPrecise</a> for collection of manually curated regulatory inferences, and <a href="http://regpredict.lbl.gov/regpredict">RegPredict</a> for Regulon Inference by Known Position Weight Matrix (PWM). [<a href="/about"> ..read more</a>]</p>

<h5> Organisms </h5>
<div style="text-align:center; width:312px; margin-left:auto; margin-right:auto;">
<img id="Image-Maps_4201301272352574" src="{{ STATIC_PREFIX }}images/network_portal_species_tree.png" usemap="#Image-Maps_4201301272352574" border="0" width="312" height="429" alt="" />
<map id="_Image-Maps_4201301272352574" name="Image-Maps_4201301272352574">
<area shape="rect" coords="39,0,202,20" href="http://www.ncbi.nlm.nih.gov/genome/669" alt="Methanococcus maripaludis S2" title="Methanococcus maripaludis S2"    />
<area shape="rect" coords="37,28,200,48" href="http://www.ncbi.nlm.nih.gov/genome/1051" alt="Halobacterium sp. NRC-1" title="Halobacterium sp. NRC-1"    />
<area shape="rect" coords="32,59,195,79" href="http://www.ncbi.nlm.nih.gov/genome/461" alt="Thermus thermophilus HB8" title="Thermus thermophilus HB8"    />
<area shape="rect" coords="30,90,241,110" href="http://www.ncbi.nlm.nih.gov/genome/1093" alt="Bacteroides thetaiotamicron VPI-5482" title="Bacteroides thetaiotamicron VPI-5482"    />
<area shape="rect" coords="46,122,257,142" href="http://www.ncbi.nlm.nih.gov/genome/1022" alt="Clostridium acetobutylicum ATCC 824" title="Clostridium acetobutylicum ATCC 824"    />
<area shape="rect" coords="62,154,218,174" href="http://www.ncbi.nlm.nih.gov/genome/157" alt="Bacillus cereus ATCC 15579" title="Bacillus cereus ATCC 15579"    />
<area shape="rect" coords="64,186,269,206" href="http://www.ncbi.nlm.nih.gov/genome/665" alt="Bacillus subtilis subsp. subtilis str. 168" title="Bacillus subtilis subsp. subtilis str. 168"    />
<area shape="rect" coords="33,218,229,238" href="http://www.ncbi.nlm.nih.gov/genome/430" alt="Synechococcus elongatus PCC 7942" title="Synechococcus elongatus PCC 7942"    />
<area shape="rect" coords="47,250,221,270" href="http://www.ncbi.nlm.nih.gov/genome/509" alt="Rhodobacter sphaeroides 2.4.1" title="Rhodobacter sphaeroides 2.4.1"    />
<area shape="rect" coords="62,282,186,302" href="http://www.ncbi.nlm.nih.gov/genome/153" alt="Yersinia pestis CO92" title="Yersinia pestis CO92"    />
<area shape="rect" coords="63,314,231,334" href="http://www.ncbi.nlm.nih.gov/genome/187" alt="Pseudomonas aeruginosa PA01" title="Pseudomonas aeruginosa PA01"    />
<area shape="rect" coords="64,348,306,368" href="http://www.ncbi.nlm.nih.gov/genome/149" alt="Campylobacter jejuni subsp. jejuni NCTC 1116" title="Campylobacter jejuni subsp. jejuni NCTC 1116"    />
<area shape="rect" coords="78,378,255,398" href="http://www.ncbi.nlm.nih.gov/genome/1042" alt="Geobacter sulfurreducens PCA" title="Geobacter sulfurreducens PCA"    />
<area shape="rect" coords="93,410,296,424" href="http://www.ncbi.nlm.nih.gov/genome/654" alt="Desulfovibrio vulgaris str Hildenborough" title="Desulfovibrio vulgaris str Hildenborough"    />
</map>
</div>



  <h5>Data Sources</h5>
  <a href="http://enigma.lbl.gov/"><img height=50 src="{{ STATIC_PREFIX }}images/enigma-logo.gif"></a>
  <a href="http://microbesonline.org"><img height=50 src="{{ STATIC_PREFIX }}images/microbesonline-logo.gif"></a>
  <a href="http://regprecise.lbl.gov/RegPrecise/"><img height=50 src="{{ STATIC_PREFIX }}images/regprecise-logo.gif"></a>
  <a href="http://regpredict.lbl.gov/regpredict/"><img height=50 src="{{ STATIC_PREFIX }}images/regpredict-logo.gif"></a><br>
  <a href="http://www.ncbi.nlm.nih.gov/"><img height=50 src="{{ STATIC_PREFIX }}images/ncbi-logo.gif"></a>
  <a href="http://www.genome.jp/kegg/"><img height=50 src="{{ STATIC_PREFIX }}images/kegg-logo.gif"></a>
  <a href="http://www.geneontology.org/"><img height=50 caption="go" src="{{ STATIC_PREFIX }}images/go-logo.gif"></a>
 
  <h3> Developed by <a href="http://baliga.systemsbiology.net">Baliga Lab </a>at</h3>
   
  <a href="http://systemsbiology.org">  <img  height=60 style="background:none;border:0px; position:relative; bottom:-5px;" src="{{ STATIC_PREFIX }}images/isb_logo.png"></a>
 
  <h5>Coming Soon</h5>
  <ul class="sidemenu">
    <li> 
      <b>Gaggle Workflow:</b> Automate repeated analysis with Gaggle workflow. Test drive Gaggle Workflow beta <a href="/workflow">here.</a>
    </li>
  </ul> 

</div><!-- End #main -->

<div id="sidebar">
  <h3>Quick Search</h3>
  <span class="search_help">(Start typing keywords, press ESC to close suggestions)</span>
  <form id="qsearch" action="/search/" method="get">
    <input class="tbox" type="text" id="query" name="q" value="{{ q }}"></input>
    <input class="btn" type="image" name="searchsubmit" value="Search" src="{{STATIC_PREFIX}}images/search.gif"></input>
  </form>

  <h3>Statistics</h3>
  <table>
    <tr>
      <th>Species</th>
      <th>Networks</th>
      <th>Version</th>
    </tr>
    <tr>
      <td><a href="/species/">{{ sp_count }}</a></td>
      <td><a href="/networks/">{{ net_count }}</a></td>
      <td>{{ version }}</td>	  
    </tr>
    <tr>
      <th>Regulons</th>
      <th>Regulators</th>
      <th>Motifs</th>
    </tr>
    <tr>
      <td>{{ bicl_count }}</td>
      <td>{{ influence_count }}</td>
      <td>{{ motif_count }}</td>
    </tr>
  </table>

   <h3>Updates </h3>
<br>
<script charset="utf-8" src="http://widgets.twimg.com/j/2/widget.js"></script>
<script>
new TWTR.Widget({
  version: 2,
  type: 'profile',
  rpp: 4,
  interval: 30000,
  width: 260,
  height: 300,
  theme: {
    shell: {
      background: '#faf7f5',
      color: '#977C57',
     
    },
    tweets: {
      background: '#ffffff',
      color: '#421610',
      links: '#073aa7'
    }
  },
  features: {
    scrollbar: false,
    loop: false,
    live: false,
    behavior: 'all'
  }
}).render().setUser('Network_Portal').start();
</script>

<!--  <h3>What's New</h3>
  <ul class="sidemenu">
    <li> Now you can further analyze motifs with <a target="_blank" href="http://regpredict.lbl.gov/regpredict/index.html">RegPredict</a> for <i>D. vulgaris</i> H.</li>
    <li> 
      This version of Network Portal includes 4 organisms
    </li>
    <li>
      Regulon functional enrichments from KEGG, GO, COG and TIGRFam are now implemented 
    </li>
  </ul>-->
<a href="http://www.facebook.com/NetworkPortal"> <img src="{{ STATIC_PREFIX }}images/Facebook-32.png" align="right"></a>
<a href="https://twitter.com/#!/Network_Portal"><img src="{{ STATIC_PREFIX }}images/Twitter-32.png" align="right"></a>
<img src="{{ STATIC_PREFIX }}images/Linkedin-32.png" align="right">
<img src="{{ STATIC_PREFIX }}images/Rss-32.png" align="right">


</div><!-- end #sidebar -->
{% endblock %}
