{% extends "base2.html" %}
{% block title %}Workflow Framework - Welcome{% endblock %}
{% block content %}
<div class="sub-page">
<div class="main" style="width: 97%">
<link rel="stylesheet" href="http://code.jquery.com/ui/1.9.2/themes/start/jquery-ui.css" />
<link rel="stylesheet" href="{{STATIC_PREFIX}}stylesheets/colorbox.css" />

<script src="http://www.java.com/js/deployJava.js"></script>
<!--<script type="text/javascript" src="{{STATIC_PREFIX}}javascripts/jquery.js"></script> -->
<script type='text/javascript' src='{{STATIC_PREFIX}}javascripts/jquery.jsPlumb-1.3.16-all.js'></script>
<script type='text/javascript' src='{{STATIC_PREFIX}}javascripts/jquery.colorbox.js'></script>
<script type="text/javascript" src="{{STATIC_PREFIX}}javascripts/workflow.js"></script>
<script type="text/javascript" src="{{STATIC_PREFIX}}javascripts/jquery.jeditable.js"></script>
<div id="container" style="width: 100%">
<div>
<applet id="GaggleProxy" archive="{{ STATIC_PREFIX }}lib/GaggleProxy.jar, {{ STATIC_PREFIX }}lib/gaggle-connector.jar, {{ STATIC_PREFIX }}lib/boss.jar" code="org.systemsbiology.gaggle.geese.proxygoose.GaggleProxyApplet.class" width="0" height="0">
</applet>

<!-- <input type="text" id="htmlLoader" />
<input type="button" value="Load" onclick="LoadHTML()" />
<input type="button" value="Filter" onclick="FilterHTML()" />
<div id="divHTMLResult"></div> -->

</div>
<table id="tblWorkflow" class="tblWorkflow">
<tbody>
<tr>
<th style="width: 15%">
    <div>
        <div class="componentheader"><h3>Modules</h3></div>
        <a class="componenthelp" href="#inlinecomponenthelp">
            <img src="/static/images/question.gif" />
        </a>
    </div>
</th>
<th style="width: 65%">
<span id="boss"  class="boss"><a href='/static/jnlp/boss.jnlp' title="First start Gaggle Boss">start Gaggle boss</a></span>
<input type="button" value="Run" onclick="SubmitWorkflow()" class="button-run" title="Run selected workflow"/>
<input type="button" value="Save" onclick="SaveClicked()" class="button" title="Save or edit current workflow"/>
<input type="button" value="Delete" onclick="DeleteClicked()" class="button" title="Delete current workflow"/>
<input type="button" value="Clear" onclick="InitializeWorkflow()" class="button" title="Clear workflow canvas"/>
<input id="btnRecord" type="button" value="Record" onclick="ToggleRecording()" class="button-record" title="Start recording new workflow"/>
<input id="btnPause" type="button" value="Pause" onclick="TogglePause()" class="button-record" title="Pause workflow recording"/>
</th>
<th style="width: 20%"><H3> Workflows </H3>
</th>
</tr>
<tr>
<td valign="top" style="width: 15%">
 <div id="components" class="divcomponents">
    {% if wfentries.count > 0 %}
        {% for wfentry in wfentries %}
            <!--<p><strong>{{wfentry.Category.name}}</strong></p>-->
            
               {% for component in wfentry.WorkflowComponents %}
                   
                        <div class="component" id='component_{{component.Component.id|stringformat:"i"}}'>
                        <div class="componenttitle"><a href="javascript:startDownload('{{component.Component.downloadurl}}')">{{component.Component.short_name}}</a></div>
                        <img src="/static/images/close.png" class="componentclose" title="Remove from workflow"></img>
                        <input class="componentchildinput" type="text" value="{{component.Component.serviceurl}}" placeholder="Enter the url or path to the executable of the component" title="Enter the url or path to the executable of the component" />
                        <a class="componentquestion" href="#inlinewfpath">
                            <img src="/static/images/question.gif" />
                        </a>
                        <!--<input class="componentchildinput" type="text" placeholder="Enter subaction"
                                   title="Enter subaction (for example, a web handler for firegoose)" value=""/> -->
                        <select class="componentsubactions">
                            {% for subaction in component.Subactions %}
                                <option value="{{subaction}}">{{subaction}}</option>
                            {% endfor %}
                        </select>
                        <input class="componentchildinput" type="text" placeholder="Enter data url"
                                   title="Enter the url of data to be opened by the component" value=""/>
                        <input type="hidden" value="{{component.Component.name}}" />
                        <input type="hidden" value="{{component.Component.short_name}}" />
                        <input type="hidden" value="" />
                        <input type="hidden" value="{{component.Component.arguments}}" />

                        </div>
                   
               {% endfor %}
            
        {% endfor %}
    {% endif %}
</div>
</td>
<td style="width: 65%"><h3>Workflow Canvas</h3>
<div id="workflowcanvas" class="workflowcanvas" >
This is your worflow canvas. Start adding worflow componens from left, open saved workflow or read our <a href="#quickhelp">quick start guide.</a>
</div>
<div id="quickhelp"> 
	<h3>Quick Start Guide</h3>
	<h4> Initial Setup</h4>
	<ul>
		<li>1. Install each goose by using the links on the left. (If this is your first time) 
			This will download the updated goose. You will need to install them for your application</li>
		<li>2. Start The Gaggle Boss by clicking on the <b>"Start the Boss"</b> link</li>
                <li>3. Click on the Gaggle toolbar in Firefox and <b>Connect to Gaggle</b></li>
		<li>4. Drag the goose you want in your workflow and drop into the Workflow canvas</li>
		<li>5. For each goose "Enter the url of the executable in your computer" 
			e.g for cytoscape: "C:\Program Files\Cytoscape_v2.8.3\Cytoscape.exe" in Windows or "/Applications/Cytoscape_v2.8.3" in Mac OSX</li>
		<li>6. Enter any subactions or data you want to open</li>
		<li>7. In order to connect to components in the workflow drag the circle from the input goose to square of next workflow component</li>
 		<li>8. Save your workflow </li>
	</ul>
	<h4> Running the Workflow</h4>
	<ul>
		<li> 1. Create a new workflow or open a saved one</li>
		<li> 2. Click "Run" to start the workflow</li>
		<li> 3. For firegoose this will open a new tab and will take you to the page you specified in your workflow</li>
		<li> 4. Select the type of the data you want for the next component from the firegoose toolbar and select "Next"</li>
		<li> 5. Your data will be broadcasted to the next component in your workflow and your next application or webpage will be open.</li>
		<li> 6. For each workflow component you need to select specific data and click "Next"</li>
	</ul>
	<h4> Recording the Workflow</h4>
	<ul>
		<li> 1. Gaggle can follow your actions and record them into your workflow for automated tasks</li>
		<li> 2. Before recording make sure that the Gaggle bos has started</li>
		<li> 3. Click on "Record" button to start recording</li>
		<li> 4. Create workflow and follow the steps to complete your analysis</li>
		<li> 5. Go back to your workspace and "Stop" your recording Once you are done</li>
		<li> 6. Workflow components and connections will be automaticall created and placed into your workspace.</li>
		<li> 7. You can "Pause" workflow anytime</li>	
	</ul>
    <h4><a href="/static/apidocuments/index.html">API documents</a> for developing Boss and Goose that supports workflow</h4>
</div>

</td>
<td class="tdlistworkflow" valign="top">

    <div id="accordion" class="workflowaccordion">
        {% for workflow in myworkflows %}
        <p id='h3wf_{{workflow.id|stringformat:"i"}}'><a href='#' id='liwf_{{workflow.id|stringformat:"i"}}'>{{workflow.name}}</a></p>
        <div id='divwf_{{workflow.id|stringformat:"i"}}'>
            <p>{{workflow.description}}</p>
        </div>
        {% endfor %}
    </div>


    <!--<div id="divWorkflow" class="divWorkflow">
    <ul>
    {% if myworkflows.count > 0 %}
        {% for workflow in myworkflows %}
            <li class="unselectedworkflow" id='liwf_{{workflow.id|stringformat:"i"}}'><a title="{{workflow.description}}" href='javascript:GetWorkflow("{{workflow.id|stringformat:"i"}}")'>{{workflow.name}}</a></li>
        {% endfor %}
    {% endif %}
    </ul>
    </div> -->
    <div><H3> Reports</H3>
        <input type="button" value="Delete" onclick="DeleteSessionReport()" class="button"/>
    </div>
    <br />
    <div id="divReport" class="divWorkflow">
       <ul></ul>
    </div>
</td>
</tr>
</tbody>
</table>
</div>

<p id="result"></p>

<div id="dlgsaveworkflow" class="dlgsaveworkflow" title="Save Workflow">
    <p>Name: <input type="text" /></p>
    <p>Description: <input type="text" /></p>
    <p><input type="checkbox"/>Save as a new workflow</p>
</div>

<div id="dlgauthenticationalert" class="dlgauthenticationalert" title="Warning">
    <p>Do you want to login and save the workflow?</p>
</div>

<div id="dlgdeletealert" class="dlgauthenticationalert" title="Warning">
    <p>Do you really want to delete the workflow?</p>
</div>

<input id="authenticated" type="hidden" value="{{userid}}" />
<input id="componentstring" type="hidden" value="{{componentstring}}" />

<div style="display:none">
<div id='inlinewfpath' style='padding:10px; background:#fff'>
    <p align="center"><strong>Configure the Path of Gaggle Geese Applications</strong></p>
    <p align="left">There are two ways to configure the execution path of a goose:</p>
    <p align="justify">&nbsp;&nbsp;&nbsp;&nbsp;If you already know the path of the goose (e.g for cytoscape: "C:\Program Files\Cytoscape_v2.8.3\Cytoscape.exe" in Windows or "/Applications/Cytoscape_v2.8.3" in Mac OSX),
    simply add the path to the input field.</p>
    <p align="justify">&nbsp;&nbsp;&nbsp;&nbsp;Alternatively, Gaggle can automatically detect the path for you. Here is how it works: First, click the "Start Gaggle boss" button to start the boss. Next, start the goose application and connect to the boss.
       (most geese connect to boss automatically. MeV, however, needs to be connected manually) and that's it!
        The Gaggle boss will remember the paths for ALL the workflows.</p>
</div>
</div>

<div style="display:none">
    <div id='inlinecomponenthelp' style='padding:10px; background:#fff'>
        <p align="center"><strong>How to Build a Workflow</strong></p>
        <p align="justify"><strong>Important:</strong> Go to the <a href="http://www.java.com/en/download/testjava.jsp">Java Test Page</a> and verify that the version of your Java is at least Java SE 6 (or 1.6).</p>
        <p align="justify">
            1. Install each goose by using the links below. (If this is your first time).
                This will download the updated goose. You will need to install them for your application
        </p>
        <p align="justify">
            2. <strong>Drag the goose you want in your workflow and drop into the Workflow canvas.</strong>
        </p>
        <p align="justify">
            3. For each goose "Enter the url of the executable in your computer"
                e.g for cytoscape: "C:\Program Files\Cytoscape_v2.8.3\Cytoscape.exe" in Windows or "/Applications/Cytoscape_v2.8.3" in Mac OSX
        </p>
        <p align="justify">
            4. Select any subactions or data you want to open.
        </p>
        <p align="justify">
            5. Input the url (or path) to the data file to be opened by a the component.
        </p>
        <p align="justify">
            6. In order to connect to components in the workflow <strong>drag the circle from the input goose to square of next workflow component.</strong>
        </p>
        <p align="justify">
            7. Save your workflow.
        </p>
        </ul>
        </p>
    </div>
</div>



</div>
</div>

{% endblock %}
