{% extends "base2.html" %}
{% block title %}Workflow Framework - Welcome{% endblock %}


{% block content %}<div class="main">
<link rel="stylesheet" href="http://code.jquery.com/ui/1.9.1/themes/base/jquery-ui.css" />

<script src="http://www.java.com/js/deployJava.js"></script>
<script type='text/javascript' src='{{STATIC_PREFIX}}javascripts/jquery.jsPlumb-1.3.16-all.js'></script>
<script type="text/javascript" src="{{STATIC_PREFIX}}javascripts/workflowreport.js"></script>

<div id="container">
<div>

<applet id="GaggleProxy" archive="{{ STATIC_PREFIX }}lib/GaggleProxy.jar, {{ STATIC_PREFIX }}lib/gaggle-connector.jar, {{ STATIC_PREFIX }}lib/boss.jar" code="org.systemsbiology.gaggle.geese.proxygoose.GaggleProxyApplet.class" width="0" height="0">
</applet>

<!-- <input type="text" id="htmlLoader" />
<input type="button" value="Load" onclick="LoadHTML()" />
<input type="button" value="Filter" onclick="FilterHTML()" />
<div id="divHTMLResult"></div>
-->

</div>
<table id="tblWorkflow" class="tblWorkflow">
<tbody>
<tr>
<td style="width: 800px">
</td>
</tr>
<tr>
<td>
<div id="workflowcanvas" class="workflowcanvas">
    <!--{% for data in sessiondata %}
        <div id="{{data.workflownode_id}}" class="workflowcomponent">
            <div class="componenttitle">{{data.workflowcomponentname}}</div>
            {% if data.datatype == 'file' %}
                <div>
                    <img src="{{data.dataurl}}" />
                </div>
            {% else %}
                <div>
                <iframe src="{{data.dataurl}}" />
                </div>
            {% endif %}
        </div>
    {% endfor %} -->
</div>
<div style="height: 600px"></div>
</td>
</tr>
</tbody>
</table>
</div>
<input id="inputSessionId" type="hidden" value="{{mysessionid}}" />
</div>
{% endblock %}