{% extends "base2.html" %}
{% block title %}Workflow Framework - Welcome{% endblock %}


{% block content %}<div class="main">

<script src="http://www.java.com/js/deployJava.js"></script>
<script type='text/javascript' src='{{STATIC_PREFIX}}javascripts/jquery.jsPlumb-1.3.15-all-min.js'></script>
<script type="text/javascript" src="{{STATIC_PREFIX}}javascripts/workflow.js"></script>

<script>
    // using JavaScript to get location of JNLP file relative to HTML page
    var dir = location.href.substring(0, location.href.lastIndexOf('/') + 1);
    var url = dir + "static/jnlp/boss.jnlp";
    //alert(url);
    deployJava.createWebStartLaunchButton(url, '1.6.0');
</script>
    

<script type="text/javascript">
    var wfcnt = 0;
    var sourceWFEndpointOptions = {
            anchor: "RightMiddle",
            endpoint: "Dot",
            isSource: true,
            connectorStyle: { strokeStyle: "#666" },
            connectorOverlays:[ 
			    [ "Arrow", { width:5, length:15, location:1, id:"arrow" } ]
            ]
        };

    var targetWFEndpointOptions = {
            anchor: "LeftMiddle",
            endpoint: "Rectangle",
            paintStyle: { width: 10, height: 8, fillStyle: '#666' },
            isTarget: true
            //connectorStyle: { strokeStyle: "#666" },
        };

    $(document).ready(function () {
        $('.component').draggable({ 
            helper: 'clone'
        });

        $('.workflowcomponent').draggable({ 
            containment: "parent",
            helper: "original"
        });

        $('#workflowcanvas').droppable({
            drop: componentDropEvent
        });

        
    });


    function run() {
        alert("Connecting");
        ConnectToGaggle();
        //socket_connect('localhost', 8000);
        //socket_send("GET workflow.html\n");
    }

    function on_socket_get(message) {
        document.getElementById('result').innerHTML += message;
    }


    // Callback when a connection is established between two UI components
    function ConnectionEstablished(info) {
        //alert(info.source);
        // show the connector type selection dialog
        
    }

    function componentDropEvent(ev, component) {
        //alert(component.draggable.attr("id"));

        if ($(component.helper) != null) {
            var uid = $(component.helper).attr("id");
            if (uid == undefined) {  // the component is dragged from the category div
                // clone the helper element and add it to the container
                cloned = $(component.helper).clone(true).removeClass('ui-draggable ui-draggable-dragging');

                //alert($(component.helper));
                var hiddeninput = ($(component.helper).children())[1];
                //alert($(hiddeninput).attr("value"));
                if (hiddeninput != undefined)
                    $(cloned).append($(hiddeninput).attr("value"));

                // we include the id of the original component to be able to retrieve it later to generate
                // the workflow
                var cid = 'wfcid' + wfcnt + '_' + component.draggable.attr("id");
                //alert(cid);
                cloned.attr('id', cid);
                wfcnt++;

                cloned.attr('class', 'workflowcomponent');
                $(this).append(cloned);

                // Add the source and target endpoints to the component
                //alert("adding source endpoint");
                jsPlumb.addEndpoint(cid, sourceWFEndpointOptions);
                //alert("adding target endpoint");
                jsPlumb.addEndpoint(cid, targetWFEndpointOptions);

                //  set the component to be draggable
                jsPlumb.draggable(cid, {
                    containment: "parent",
                    helper: "original"
                });
            }
        }

        //jsPlumb.makeTarget(e2);
        //jsPlumb.connect({ source: e1, target: e2, anchor: "Continuous" });
    }

    var WF_edges = {};
    var WF_nodedegrees = {};
    var WF_endpoints = {};
    // Extract workflow from UI
    function ExtractWorkflow() {
        WF_edges = {};
        WF_nodedegrees = {};
        var connectionList = jsPlumb.getConnections();
        alert(connectionList.length);
        
        for (i = 0; i < connectionList.length; i++) {
            var conn = connectionList[i];
            var srcidstr = $(conn.source).attr("id");
            var targetidstr = $(conn.target).attr("id");
            if (srcidstr != undefined && targetidstr != undefined) {
                var srcid = GetComponentId(srcidstr);
                alert(srcid);
                var targetid = GetComponentId(targetidstr);
                alert(targetid);
                if (srcid != undefined && targetid != undefined) {
                    // populate the node edge list
                    var key = srcid;
                    if (WF_edges[key] == undefined)
                        WF_edges[key] = {};
                    var edge = {};
                    edge["sourceelement"] = $(conn.source); // remember the html element of the source node
                    edge["node"] = targetid;
                    edge["type"] = "1";  // TODO need to handle edge type (network, list, names, etc)
                    //alert(edge["type"]);
                    WF_edges[key] = edge;

                    // set the indgree of the source node
                    if (WF_nodedegrees[srcid] == undefined)
                        WF_nodedegrees[srcid] = 0;

                    // increase the indgree of target node
                    if (WF_nodedegrees[targetid] == undefined)
                        WF_nodedegrees[targetid] = 0;
                    WF_nodedegrees[targetid]++;
                }
            }
        }
        //alert("extraction done!");
    }

    function ConstructWorkflowJSON(name, description, userid) {
        //alert(name);

        var jsonObj = {}; //declare array
        jsonObj.name = name;
        jsonObj.desc = description;
        jsonObj.userid = userid.toString();
        jsonObj.edgelist = WF_edges;
        
        //alert(jsonObj["name"]);
        //alert(jsonObj["edgelist"]);

        return jsonObj;
    }

    function SubmitWorkflow() {
        //Start boss
        if (ConnectToGaggle()) {
            ExtractWorkflow();

            // verify
//            for (var key in WF_edges) {
//                alert(key);
//                var nodelist = WF_edges[key];
//                alert(nodelist.length);
//            }

            ProcessAction("cytoscape", "C:\\Program Files\\Cytoscape_v2.8.3\\Cytoscape.exe", "", "", 1);

            for (var key in WF_nodedegrees) {
                alert(WF_nodedegrees[key]);
                if (WF_nodedegrees[key] == 0) {
                    ProcessWorkflowForNode(key, edges[key]);
                }
            }
        }
    }

    // Processes the workflow starting from a particular node 
    // Enumerate through all the edges
    function ProcessWorkflowforNode(node, edges, data) {
        alert("Process node " + node);
        if (node != undefined && edges != undefined && edges.length > 0) {
            for (i = 0; i < edges.length; i++) {
                sourceelement = edges[i]["sourceelement"];
                alert($(sourceelement).attr("id"));
                nextnode = edges[i]["node"];
                edgetype = edges[i]["type"];

                var goosenameelement = ($(sourceelement).children())[1];
                var goosecommandelement = ($(sourceelement).children())[2];
                alert($(goosenameelement).attr("value"));
                alert($(goosecommandelement).attr("value"));

                //ProcessAction($(goosenameelement).attr("value"), $(goosecommandelement).attr("value"), "", "", 1);
            }
        }
    }

    // Save the workflow to the DB
    function SaveWorkflow() {
        //alert("save");
        ExtractWorkflow();
        if (WF_edges.length == 0) {
            alert("No workflow components. Save failed");
            return;
        }
        var jsonObj = ConstructWorkflowJSON("Workflow", "Hello world", "1");

        alert("Send workflow");
        // Send the workflow data for saving
        jQuery.ajax({
            url: "/workflow/save",
            type: "POST",
            data: JSON.stringify(jsonObj), //({"name": "workflow", "desc": "Hello World", "userid": "1"}),
            contentType: "application/json; charset=UTF-8",
            dataType: "json",
            beforeSend: function (x) {
                if (x && x.overrideMimeType) {
                    x.overrideMimeType("application/json;charset=UTF-8");
                }
            },
            success: function (result) {
                //Write your code here
                //alert(result['id']);
                //alert(($("#divWorkflow").children().length));
                var link = "<li><a href='" + "javascript:GetWorkflow(\"" + result['id'] + "\")'>" + result['name'] + "</a></li>";
                alert(link);
                var ul = ($("#divWorkflow").children())[0];// TODO use jquery to get the ul
                $(ul).append(link);
            }
        });
    }

    // Contact the server to get information of a workflow
    // Info includes name, description, owner, and edges
    function GetWorkflow(wfid) {
        // Send the workflow data for saving
        //alert("get workflow");
        //alert(wfid);
        $.get("/workflow/" + wfid + "/",
            function (data) {
                //alert("got workflow");
                DisplayWorkflow(data);
            }
        );
    }

    // Given a nodeid, search if it is already added to the workflow canvas.
    // If not, create the node and add it to the workflow canvas
    function SearchAndCreateNode(nodeid, nodecnt) {
        var sourceid = 'wfcid' + nodecnt.toString() + '_' + 'component_' + nodeid;
        //alert(sourceid);
        var nodeobj = {};
        // Find existing node for the same component
        var searchstr = "[id*='_component_" + nodeid + "']";
        var elements = $(searchstr);
        //alert(elements.length);
        var sourcelement = null;
        if (elements.length == 0) {
            //alert("add component");
            var componentid = "component_" + nodeid;
            //alert(componentid);
            var source = document.getElementById(componentid); // this is the component in the component list
            //alert($(source).attr('id'));
            //$(source).clone().appendTo("#workflowcanvas");
            //sourcelement = $(source).clone();
            sourcelement = $(source).clone().removeClass('ui-draggable');
            //alert(sourcelement);
            if (sourcelement != undefined) {
                $(sourcelement).attr('class', 'workflowcomponent');
                $(sourcelement).attr('id', sourceid);

                // position the node
                // TODO: remove the hardcoded offset values!!
                var leftv = 300 + ((nodecnt % 2 == 0) ? 0 : 1) * 250;  
                //alert(leftv);
                var topv = 300 + Math.floor(nodecnt / 2) * 70;
                //alert(topv);
                var stylestr = "top: " + topv.toString() + "px; left: " + leftv.toString() + "px";
                //alert(stylestr);
                $(sourcelement).attr('style', stylestr);
                $(sourcelement).appendTo("#workflowcanvas");

                srcEP = jsPlumb.addEndpoint(sourceid, sourceWFEndpointOptions);
                targetEP = jsPlumb.addEndpoint(sourceid, targetWFEndpointOptions);
                nodeobj.Element = sourcelement;
                nodeobj.SourceEP = srcEP;
                nodeobj.TargetEP = targetEP;
                nodeobj.IsNew = true;
                
                // store the endpoints for retrieve later
                WF_endpoints[sourceid] = {};
                WF_endpoints[sourceid].SourceEP = srcEP;
                WF_endpoints[sourceid].TargetEP = targetEP;

                //  set the component to be draggable
                jsPlumb.draggable(sourceid, {
                    containment: "parent",
                    helper: "original"
                });
            }
        }
        else {
            // The node already exists, we retrieve its jsPlumb endpoints
            //alert("Existing node");
            //alert($(sourcelement).attr('id'));
            sourcelement = elements[0];
            nodeobj.Element = sourcelement;
            nodeobj.SourceEP = WF_endpoints[$(sourcelement).attr('id')].SourceEP;
            nodeobj.TargetEP = WF_endpoints[$(sourcelement).attr('id')].TargetEP;

            // This doesn't work so I have to save all the endpoints in a dictionary :(
//            jsPlumb.selectEndpoints({ source: $(sourcelement).attr('id') }).each(
//                function (ep) {
//                    alert(Object.prototype.toString.call(ep));
//                    nodeobj.SourceEP = ep;
//                });

//                jsPlumb.selectEndpoints({ target: $(sourcelement).attr('id') }).each(
//                function (ep) {
//                    nodeobj.TargetEP = targetep;
//                }
//            );
            
            nodeobj.IsNew = false;
        }
        return nodeobj;
    }

    // Display a workflow fetched from the server
    function DisplayWorkflow(flowdata) {
        if (flowdata != undefined) {
            //alert(flowdata.name);
            edges_obj = flowdata.edges;
            //alert(edges_obj);
            //alert(edges_obj["0"]);
            i = 0;
            nodecnt = 0;
            while (edges_obj[i] != undefined) {
                if (i == 0) {
                    $("#workflowcanvas").empty();  // clean up the canvas
                    jsPlumb.deleteEveryEndpoint();
                    WF_endpoints = {};
                }

                edge = edges_obj[i.toString()];
                //alert(edge['source']);
                //alert(edge['target']);
                var sourcenode = SearchAndCreateNode(edge['source'], nodecnt);
                if (sourcenode.IsNew)
                    nodecnt++;
                var targetnode = SearchAndCreateNode(edge['target'], nodecnt);
                if (targetnode.IsNew)
                    nodecnt++;
                var srcid = $(sourcenode.Element).attr('id');
                var targetid = $(targetnode.Element).attr('id');
                var lblid =  "lbl_" + srcid + "_" + targetid;
                var c = jsPlumb.connect({
                        source: sourcenode.SourceEP,
                        target: targetnode.TargetEP,
                        overlays: [
		                    ["Label", { label: "FOO", id: lblid}]
	                    ]
                    });	
                i++;
            }
        }
    }

    // Extract the id of the component from the id string
    // The id string looks like this: wfcid[id1]_component_[id2]
    // The function returns id2
    function GetComponentId(idstr) {
        if (idstr != undefined) {
            return idstr.substr(idstr.lastIndexOf("_") + 1);
        }
        return undefined;
    }

    jsPlumb.ready(function () {
        jsPlumb.Defaults.Container = $(".main");
        
        // Bind to the connection established event
        //jsPlumb.bind("jsPlumbConnection", ConnectionEstablished); 
    });

    
        
</script>

<div id="container">
<div>
<applet id="GaggleProxy" archive="{{ STATIC_PREFIX }}lib/GaggleProxy.jar, {{ STATIC_PREFIX }}lib/proxygoose-deps.jar" code="org.systemsbiology.gaggle.geese.proxygoose.GaggleProxyApplet.class" width="0" height="0">
</applet>
</div>
<table id="tblWorkflow">
<tbody>
<tr>
<td></td>
<td colspan="2">
<input type="button" value="Run" onclick="SubmitWorkflow()" />
<input type="button" value="Save" onclick="SaveWorkflow()" />
<button onclick="run()">Connect!</button>
<a href="http://localhost:8000/static/jnlp/boss.jnlp">Launch</a>
</td>
</tr>
<tr>
<td>
<div id="components" style="width:150px; height: 600px">
    {% if wfentries.count > 0 %}
        {% for wfentry in wfentries %}
            <p><strong>{{wfentry.Category.name}}</strong></p>
            <ul>
               {% for component in wfentry.Components %}
                   <li>
                        <div class="component" id='component_{{component.id|stringformat:"i"}}'>
                            <p>   {{component.short_name}}   </p>
                            <input type="hidden" value="{{component.short_name}}" />
                            <input type="hidden" value="{{component.serviceurl}}" />
                        </div>
                   </li>
               {% endfor %}
            </ul>
        {% endfor %}
    {% endif %}
</div>
</td>
<td>
<div id="workflowcanvas" style="background-color: transparent; width:500px; height: 600px"></div>
</td>
<td>
    <div id="divWorkflow">
    <ul>
    {% if myworkflows.count > 0 %}
        {% for workflow in myworkflows %}
            <li><a href='javascript:GetWorkflow("{{workflow.id|stringformat:"i"}}")'>{{workflow.name}}</a></li>
        {% endfor %}
    {% endif %}
    </ul>
    </div>
</td>
</tr>
</tbody>
</table>
</div>

<p id="result"></p>

<div id="dlgSave">
    <div class="window">
        <b>Save Workflow</b>
        <span id="txt">Workflow Name: </span><input type="text" id="inputWFName" />
        <span id="Span1">Description: </span><input type="text" id="inputWFDesc" />
        <br />
        <button onclick="hm('dlgSave');SaveOKSelected()">OK</button><button onclick="hm('box');SaveCancelSelected()">Cancel</button>
    </div>

    <!-- Do not remove div#mask, because you'll need it to fill the whole screen --> 
    <div id="mask"></div>
</div>
<div id="dialog" title="Start Boss">
   <p>Boss is not running. Click <a href='http://localhost:8000/static/jnlp/boss.jnlp'>here</a> to start the boss</p>
</div>
</div>
{% endblock %}