<!DOCTYPE html>
<html>
<head>
    <title>Gaggle Output</title>
    <link type="text/css" rel="stylesheet" href="/static/javascripts/jquery-ui-1.10.4.css" />
    <link type="text/css" rel="stylesheet" href="/static/stylesheets/gaggle_output.css" />

    <script type="text/javascript" src="/static/javascripts/jquery-1.10.2.js"></script>
    <script type="text/javascript" src="/static/javascripts/jquery-ui-1.10.4.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.8/angular.min.js"></script>
    <script type="text/javascript" src="/static/javascripts/handlers/util.js"></script>
    <script type="text/javascript" src="/static/javascripts/handlers/gaggle_data.js"></script>
    <script type="text/javascript" src="/static/javascripts/handlers/ufmt.js"></script>
    <script type="text/javascript" src="/static/javascripts/handlers/handler.js"></script>
    <script type="text/javascript" src="/static/javascripts/handlers/gaggleMicroformat.js"></script>

    <script type="text/javascript" src="/static/javascripts/handlers/david.js"></script>
    <script type="text/javascript" src="/static/javascripts/handlers/kegg.js"></script>
    <script type="text/javascript" src="/static/javascripts/handlers/emblstring.js"></script>
    <script type="text/javascript" src="/static/javascripts/handlers/egrin2.js"></script>
    <script type="text/javascript" src="/static/javascripts/handlers/haloAnnotations.js"></script>
    <script type="text/javascript" src="/static/javascripts/handlers/entrez.js"></script>
    <script type="text/javascript" src="/static/javascripts/handlers/maggie.js"></script>

    <script type="text/javascript" src="/static/javascripts/gaggle_output.js"></script>
</head>
<body>
    <div>
        Species:
        <select id="selSpecies">
            <option value = "" selected>Select an organism</option>
        </select>
        <br />
        Genes: <input type="text" id="inputNamelistText" /><br />
        <input type="file" id="inputNamelistFile" /><br />


        <div id="divGeese">
            <input class="chkboxGeese" type="checkbox" name="goose" value="DAVID">DAVID<br/>
            <input class="chkboxGeese" type="checkbox" name="goose" value="KEGG">KEGG Pathway<br/>
            <input class="chkboxGeese" type="checkbox" name="goose" value="EMBLString">EMBL String<br/>
            <input class="chkboxGeese" type="checkbox" name="goose" value="EGRIN2">EGRIN2<br/>
            <input class="chkboxGeese" type="checkbox" name="goose" value="HaloAnnotation">Halo Annotations<br/>
            <input class="chkboxGeese" type="checkbox" name="goose" value="EntrezGene">Entrez Gene<br/>
            <input class="chkboxGeese" type="checkbox" name="goose" value="EntrezProtein">Entrez Protein<br/>
            <input class="chkboxGeese" type="checkbox" name="goose" value="Maggie">Maggie<br/>
        </div>
        <br />
        <input type="button" id="btnProcessNamelist" onclick="javascript:processNamelist();" value="Run" />
        <input type="button" id="btnRemoveAllResults" onclick="javascript:removeAllResults();" value="Remove All" />
    </div>
    <br/>
    <br/>
    <div class="divResultIFrames">

    </div>

    <div ng-app>
    <div id="divGaggleOutput" ng-controller="GaggleOutputCtrl">
        <div class='panel panel-primary divGaggleOutputUnit' ng-repeat="output in outputs">
            <div class='panel-heading'>
                <h4 class='panel-title'>
                    Output - {{ output.funcname  }} - {{ output.species }}
                </h4>
                <table>
                    <tbody>
                        <th ng-repeat="property in output.properties">
                            {{ property }}
                        </th>
                        <tr ng-repeat="enrichment in output.enrichments">
                            <td ng-repeat="proppair in enrichment track by $index">
                                <div ng-if="proppair.type == 'value'">
                                    {{proppair.value}}
                                </div>
                                <div ng-if="proppair.type=='url'">
                                    <a target='_blank' href="{{proppair.value}}">module</a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <br />
                <h2>Overlapped Genes</h2>
                <table>
                    <tbody>
                        <tr ng-repeat="gaggleddata in output.gaggledData">
                            <td>{{gaggleddata._name}}</td>
                            <td ng-repeat="data in gaggleddata._data">{{data}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    </div>

    <div id="divGaggledData">

    </div>

    <input type="hidden" id="inputDataParsingFinishSignal" value="False" />
</body>
</html>