<!DOCTYPE html>
<html ng-app>
<head>
    <title>Gaggle Output</title>
    <link type="text/css" rel="stylesheet" href="/static/javascripts/jquery-ui-1.10.4.css" />
    <link type="text/css" rel="stylesheet" href="/static/stylesheets/gaggle_output.css" />

    <script type="text/javascript" src="/static/javascripts/jquery-1.10.2.js"></script>
    <script type="text/javascript" src="/static/javascripts/jquery-ui-1.10.4.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.8/angular.min.js"></script>
    <script type="text/javascript" src="/static/javascripts/gaggle_output.js"></script>
</head>
<body>
    <div id="divGaggleOutput" ng-controller="GaggleOutputCtrl">
        <div class='panel panel-primary divGaggleOutputUnit' ng-repeat="output in outputs">
            <div class='panel-heading'>
                <h4 class='panel-title'>
                    Output - {{ output.funcname  }} - {{ output.species }}
                </h4>
                <table>
                    <tbody>
                        <th ng-repeat="property in output.properties">
                            {{ property }}
                        </th>
                        <tr ng-repeat="enrichment in output.enrichments">
                            <td ng-repeat="proppair in enrichment track by $index">
                                <div ng-if="proppair.type == 'value'">
                                    {{proppair.value}}
                                </div>
                                <div ng-if="proppair.type=='url'">
                                    <a target='_blank' href="{{proppair.value}}">module</a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div id="divGaggledData">

    </div>

    <input type="hidden" id="inputDataParsingFinishSignal" value="False" />
</body>
</html>