{% extends "base2.html" %}
{% load staticfiles %}
{% block title %}Network Portal - Infer Network{% endblock %}
{% block content %}
<div class="sub-page">
  <form enctype="multipart/form-data" method="POST">{% csrf_token %}
  <div class="main">
    <h5>Network Inference</h5>
    <a class="help" href="#example-matrix"><img align="right" src="/static/images/help.png" /></a><h3> Step 1. Upload your gene expression file </h3>
		<b>Format:</b> Your gene expresion file should be in tab-delimited format with conditions as column names and gene ids as row names. Expression values should be log2 ratios.
		<p><input size="50" name="file" type="file"> <input size="50" name="upload" type="submit" value="Upload"></p>

    <a class="help" href="organism-help"><img align="right" src="/static/images/help.png" /></a><h3> Step 2. Enter organism Name or shortcode </h3>
		<b>Warning:</b> Organism must be supported in RSAT. <a target="_blank" href="http://rsat.ulb.ac.be/supported-organisms.cgi">Click here</a> to find the list of supported organisms			    <input placeholder= "Organism" type="text" size=75 id="organism" name="organism" value=""></input><br>
  </div>		
	<div id="sidebar">
		<h5> Run files</h5>
    <p> You are ready to run Network Inference. Please click on the run. This will start preset Amazon instance and will start processing your files. If there is any problem in your run, you will be notified via email.<br>
		  <input type="submit" value="Run Network Inference" class="medium blue awesome"></input>
  </div>
  </form>
</div>
{% endblock %}
