{% extends "base2.html" %}
{% load staticfiles %}
{% block title %}Network Portal - Infer Network on KBase{% endblock %}
{% block content %}
<div class="sub-page">
  <form enctype="multipart/form-data" method="POST">{% csrf_token %}
  <div class="main">
    <h5>Network Inference with KBase</h5>
    <a class="help" href="#example-matrix"><img align="right" src="/static/images/help.png" /></a><h3>Specify organism and  gene expression file </h3>
    <p>
    <select name="organism" id="organism">
      <option value="">- select organism -</option>
      <option value="hal">Halobacterium sp</option>
      <option value="psa">Pseudomonas stutzeri</option>
    </select></p>

		<b>Format:</b> Your gene expresion file should be in tab-delimited format with conditions as column names and gene ids as row names. Expression values should be log2 ratios.
		<p><input size="50" name="file" type="file"> <input size="50" name="upload" type="submit" value="Upload"></p>
  </div>		
	<div id="sidebar">
		<h5> Run files</h5>
    <p> You are ready to run Network Inference. Please click on the run. This will start preset Amazon instance and will start processing your files. If there is any problem in your run, you will be notified via email.<br>
		  <input type="submit" value="Run Network Inference" class="medium blue awesome"></input>
  </div>
  </form>
</div>
{% endblock %}
