{% extends "base2.html" %}
{% load filters %}
{% load staticfiles %}
{% block title %}Network Portal - List of inference jobs{% endblock %}
{% block content %}
<script>
$(document).ready(function() { 
    $("#user-tabs").tabs();
    $("#jobs-table") 
    .tablesorter({widthFixed: true, widgets: ['zebra']}) 
    {#.tablesorterPager({container: $("#tablepager")})#}; 
});
</script>

<div class="main" style="width: 100%">
  {% if messages %}
  <ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{message.tags}}"{% endif %}>{{message}}</li>
    {% endfor %}
  </ul>
  {% endif %}

  <div id="user-tabs">
    <ul>
      <li><a href="#networks-tab">Your Networks</a></li>
      <li><a href="#kbasejob-tab">Your Inference Jobs</a></li>
    </ul>
    <div id="networks-tab">
      <div>
        <form>
          <b>Upload your cmonkey run</b><br>
          Gene expression file <input type="text"></input><br>
          cmonkey run result file <input type="text"></input><br>
          <input type="submit"></input>
        </form>
      </div>
      <table id="jobs-table" class="tablesorter">
        <caption>Networks</caption>
        <thead></thead>
        <tbody><tbody>
      </table>
    </div>
    <div id="kbasejob-tab">
      <div style="margin-left: 5pt; margin-top: 5pt">
        <a href="/kbasejob"> + Create new KBase inference job</a>
      </div>
      <table id="jobs-table" class="tablesorter">
        <caption>Jobs</caption>
        <thead>
          <tr>
            <th>Organism</th>
            <th>Created at</th>
            <th>Status</th>
            <th>Compute On</th>
          </tr>
        </thead>
        <tbody>
          {% for job in jobs %}
          <tr>
            <td>{{job.species}}</td>
            <td>{{job.created_at}}</td>
            <td>{{job.status}}</td>
            <td>{{job.compute_on}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
