{% extends "base2.html" %}
{% load filters %}
{% load staticfiles %}
{% block title %}Network Portal - List of inference jobs{% endblock %}
{% block content %}
<script>
$(document).ready(function() { 
    $("#user-tabs").tabs();
    $("#jobs-table") 
    .tablesorter({widthFixed: true, widgets: ['zebra']}) 
    {#.tablesorterPager({container: $("#tablepager")})#}; 

    // AJAX file upload of cmonkey results
    $('#upload_cm_form').submit(function(event) {
      event.stopPropagation();
      event.preventDefault();

      var data = new FormData($(this)[0]);
      $.ajax({
        url: $(this).attr('action'),
        type: $(this).attr('method'),
        data: data,
        cache: false,
        processData: false,
        contentType: false,
        success: function(data, textStatus, jqXHR) {
          alert("Submit successfull");
        },
        error: function(jqXHR, textStatus, errorThrown) {
          alert('SUBMIT ERROR: ' + errorThrown);
        }
      });
      return false;
    });
});
</script>

<div class="main" style="width: 100%">
  {% if messages %}
  <ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{message.tags}}"{% endif %}>{{message}}</li>
    {% endfor %}
  </ul>
  {% endif %}

  <div id="user-tabs">
    <ul>
      <li><a href="#networks-tab">Your Networks</a></li>
      <li><a href="#kbasejob-tab">Your Inference Jobs</a></li>
    </ul>
    <div id="networks-tab">
        <form id="upload_cm_form" action="upload_cmrun" method="post" style="margin-top: 5px; margin-bottom: 0px;">
          {% csrf_token %}
          <b>Upload your cmonkey run</b> <input type="submit" value="Upload..." style="margin-left: 8px"></input><br>
          Gene expression file {{cmform.ratios}}<br>
          cmonkey run result file {{cmform.result}}</form>
      <table id="jobs-table" class="tablesorter">
        <caption>Networks</caption>
        <thead></thead>
        <tbody><tbody>
      </table>
    </div>
    <div id="kbasejob-tab">
      <div style="margin-left: 5pt; margin-top: 5pt">
        <a href="/kbasejob"> + Create new KBase inference job</a>
      </div>
      <table id="jobs-table" class="tablesorter">
        <caption>Jobs</caption>
        <thead>
          <tr>
            <th>Organism</th>
            <th>Created at</th>
            <th>Status</th>
            <th>Compute On</th>
          </tr>
        </thead>
        <tbody>
          {% for job in jobs %}
          <tr>
            <td>{{job.species}}</td>
            <td>{{job.created_at}}</td>
            <td>{{job.status}}</td>
            <td>{{job.compute_on}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
